
# Load Libraries / Data

In [1]:
%run ../modules/library_to_import.ipynb

In [2]:
%run ../modules/Class_imdb.ipynb
%run ../modules/transformers_imdb.ipynb

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns
# sns.despine()
sns.set()
# sns.set(style='white', context='notebook', palette='deep')
# sns.set(style='white', palette='deep')
sns.despine()

In [4]:
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning) 
warnings.filterwarnings("ignore", category=FutureWarning)  
warnings.filterwarnings("ignore", category=UserWarning)  

np.set_printoptions(precision=2)

In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [6]:
random_state = 42

evaluations_all -  it is a dictionary where all the information regarding models performance scores gets recorded. It`s the 'cloud'.

By acessing the 'cloud' the Class Super_Analtica will work in groups.
Analytica_bolada is lower level.

## Data

In [7]:
# df = pd.read_csv('../../data/movie_data.csv')
data_raw = pd.read_csv("../../data/labeledTrainData.tsv", header=0, \
                    delimiter="\t", quoting=3)

In [8]:
data_raw.head()
data_raw.info()

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
id           25000 non-null object
sentiment    25000 non-null int64
review       25000 non-null object
dtypes: int64(1), object(2)
memory usage: 586.0+ KB

In [9]:
data_raw.sentiment.value_counts(normalize=True)

1    0.5
0    0.5
Name: sentiment, dtype: float64

# X  y

In [10]:
data_raw.head()

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

In [11]:
train_raw = data_raw[:20000]
test_raw = data_raw[20000:]


# train_raw = data_raw[:2000]
# test_raw = data_raw[2000:]

In [12]:
train_raw.head()
train_raw.info()

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
id           2000 non-null object
sentiment    2000 non-null int64
review       2000 non-null object
dtypes: int64(1), object(2)
memory usage: 47.0+ KB

In [13]:
test_raw.head()
test_raw.info()

             id  sentiment                                             review
2000  "1766_10"          1  "I got a free pass to a preview of this movie ...
2001   "1027_1"          0  "Normally, I have much better things to do wit...
2002  "3729_10"          1  "While I suppose this film could get the rap a...
2003   "7353_7"          1  "This film could be one of the most underrated...
2004   "6893_3"          0  "I had high hopes for this movie. The theater ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23000 entries, 2000 to 24999
Data columns (total 3 columns):
id           23000 non-null object
sentiment    23000 non-null int64
review       23000 non-null object
dtypes: int64(1), object(2)
memory usage: 539.1+ KB

In [14]:
X = train_raw[['review']]
y = train_raw[['sentiment']]

In [15]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25, random_state=random_state)

In [16]:
X_train.shape
X_train.head()
y_train.shape 
y_train.head()

(1500, 1)

                                                 review
1738  "Harold Pinter rewrites Anthony Schaeffer's cl...
548   "The American Humane Association, which is the...
936   "a friend gave it to me saying it was another ...
1389  "The movie is okay, it has it's moments, the m...
1607  "Was this movie stupid? Yup. Did this movie de...

(1500, 1)

      sentiment
1738          0
548           0
936           0
1389          1
1607          0

In [17]:
X_val.shape 
X_val.head()
y_val.shape
y_val.head()

(500, 1)

                                                 review
1860  "I had never heard of this film before a coupl...
353   "This movie is all about subtlety and the diff...
1333  "If you loved Deep Cover, you might like this ...
905   "I thought it was one of the best sequels I ha...
1289  "Today I found \"They All Laughed\" on VHS on ...

(500, 1)

      sentiment
1860          1
353           1
1333          1
905           1
1289          0

In [18]:
X_test = test_raw[['review']]
y_test = test_raw[['sentiment']]

In [19]:
X_test.shape
y_test.shape

(23000, 1)

(23000, 1)

In [20]:
kfold = StratifiedKFold(n_splits=8, shuffle=False, random_state=random_state)

# PRE LOADING

In [21]:
def tokenizer_split(text):
    return [porter.stem(w) for w in text.split(' ')]

def tokenizer_porter(text):
    return [porter.stem(w) for w in text.split(' ') if not w in stop_words ]

tfidf = TfidfVectorizer(strip_accents=None, lowercase=False, preprocessor=None)

In [22]:
master = Super_Analytica('master')

In [23]:
stop_words = nltk.corpus.stopwords.words('english')
porter = PorterStemmer()

In [24]:
%run ../modules/params_imdb.ipynb

# Selecting Pipeline

fazer um comparativo entre pipelines onde o vextorizer é o TFIDF e onde o vectorizer esta 
dividido entre CountVect + TFIDF. Desse comparativo sai o pipeline que sera usado para o HP

In [25]:
nc = 500

## Mostrar como Truncated demora muito mais. Rodar em SGCD. teste simples

In [26]:
# Conslusao é retirar Truncated dos pipelines posteriores. Podemos criar dois fature_matrix  
# com a mesma qnt de features e mostrar como mesmo assim cada processo demora tempos bem diferentes.
# Qual percentile gera a mesma quantidade de features de n_components ?

pipe_1 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('tf-idf_vec', TfidfVectorizer()),
    ('TruncatedSVD', TruncatedSVD(n_components=nc))
])

# variacao do pipe 1
pipe_2 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('vec', TfidfVectorizer()),  
    ('kbest', SelectPercentile(chi2))

])

master.evaluate_CV(pipe_1, ['LGR']) # precisa de pickle mesmo ?
master.evaluate_CV(pipe_2, ['LGR']) 


# Demorou quase duas horas sem nenhum resultado. Talvez usar LGR ao inves de SGDC

LGR   Cross Validation Done in  1.0  minutes  /-->acc : 0.8975913988570182

LGR   Cross Validation Done in  0.0  minutes  /-->acc : 0.8895506960483555

- Os pipes 2 e 3 tem reducao de dimensionalidade para algoritmos Non-Parametric
- clf_T = ['DT', 'ADA', 'RF', 'XT'] + ['KNN']

In [27]:
pipe_2 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('vec', TfidfVectorizer()),  
    ('kbest', SelectPercentile(chi2))

])

pipe_3 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('counts', CountVectorizer()),
    ('tf-idf', TfidfTransformer()),
    ('kbest', SelectPercentile(chi2))
])

NonP_algos = clf_T + ['KNN'] # Non Parametric

In [28]:
master.evaluate_CV(pipe_2, NonP_algos, '_pp2', pkl_W=True)
master.evaluate_CV(pipe_3, NonP_algos, '_pp3', pkl_W=True)

DT_pp2   Cross Validation Done in  0.0  minutes  /-->acc : 0.6613403683367651

ADA_pp2   Cross Validation Done in  0.0  minutes  /-->acc : 0.6573724548158316

RF_pp2   Cross Validation Done in  0.0  minutes  /-->acc : 0.7751174132943249

XT_pp2   Cross Validation Done in  0.0  minutes  /-->acc : 0.8200535839127303

KNN_pp2   Cross Validation Done in  0.0  minutes  /-->acc : 0.6168128785563908

DT_pp3   Cross Validation Done in  0.0  minutes  /-->acc : 0.6613403683367651

ADA_pp3   Cross Validation Done in  0.0  minutes  /-->acc : 0.6573724548158316

RF_pp3   Cross Validation Done in  0.0  minutes  /-->acc : 0.7751174132943249

XT_pp3   Cross Validation Done in  0.0  minutes  /-->acc : 0.8200535839127303

KNN_pp3   Cross Validation Done in  0.0  minutes  /-->acc : 0.6168128785563908

- Os pipes 3 e 4 nao tem reducao de dimensionalidade, para algo parametricos
- clf_L = ['LinearSVC', 'LGR', 'RDG'] + ['NB', 'SGDC']

In [29]:
pipe_4 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('tf-idf_vec', TfidfVectorizer())
])


pipe_5 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('counts', CountVectorizer()),
    ('tf-idf', TfidfTransformer())
])

P_algos = clf_L + ['NB', 'SGDC']

In [30]:
master.evaluate_CV(pipe_4, P_algos, '_pp4', pkl_W=True)
master.evaluate_CV(pipe_5, P_algos, '_pp5', pkl_W=True)

LSVC_pp4   Cross Validation Done in  0.0  minutes  /-->acc : 0.9209276742533788

LGR_pp4   Cross Validation Done in  0.0  minutes  /-->acc : 0.9036893115755709

RDG_pp4   Cross Validation Done in  0.0  minutes  /-->acc : 0.9195765811390468

NB_pp4   Cross Validation Done in  0.0  minutes  /-->acc : 0.9109742346514309

SGDC_pp4   Cross Validation Done in  0.0  minutes  /-->acc : 0.9011074268589052

LSVC_pp5   Cross Validation Done in  0.0  minutes  /-->acc : 0.9209276742533788

LGR_pp5   Cross Validation Done in  0.0  minutes  /-->acc : 0.9036893115755709

RDG_pp5   Cross Validation Done in  0.0  minutes  /-->acc : 0.9195765811390468

NB_pp5   Cross Validation Done in  0.0  minutes  /-->acc : 0.9109742346514309

SGDC_pp5   Cross Validation Done in  0.0  minutes  /-->acc : 0.9011074268589052

# PLOTTING

In [33]:
master.get_members_evaluations_all()

dict_keys(['LGR', 'DT_pp2', 'ADA_pp2', 'RF_pp2', 'XT_pp2', 'KNN_pp2', 'DT_pp3', 'ADA_pp3', 'RF_pp3', 'XT_pp3', 'KNN_pp3', 'LSVC_pp4', 'LGR_pp4', 'RDG_pp4', 'NB_pp4', 'SGDC_pp4', 'LSVC_pp5', 'LGR_pp5', 'RDG_pp5', 'NB_pp5', 'SGDC_pp5'])

In [34]:
%%time
master.plot_learning_curve(load_saved=False)

saving l_curve_ image for  LGR
saving l_curve_ image for  DT_pp2
saving l_curve_ image for  ADA_pp2
saving l_curve_ image for  RF_pp2
saving l_curve_ image for  XT_pp2
saving l_curve_ image for  KNN_pp2
saving l_curve_ image for  DT_pp3
saving l_curve_ image for  ADA_pp3
saving l_curve_ image for  RF_pp3
saving l_curve_ image for  XT_pp3
saving l_curve_ image for  KNN_pp3
saving l_curve_ image for  LSVC_pp4
saving l_curve_ image for  LGR_pp4
saving l_curve_ image for  RDG_pp4
saving l_curve_ image for  NB_pp4
saving l_curve_ image for  SGDC_pp4
saving l_curve_ image for  LSVC_pp5
saving l_curve_ image for  LGR_pp5
saving l_curve_ image for  RDG_pp5
saving l_curve_ image for  NB_pp5
saving l_curve_ image for  SGDC_pp5
CPU times: user 8min 8s, sys: 13.2 s, total: 8min 21s
Wall time: 8min 57s

In [35]:
%%time
master.plot_Classification_Report( load_saved=False)

saving c_reprt_ image for LGR
saving c_reprt_ image for DT_pp2
saving c_reprt_ image for ADA_pp2
saving c_reprt_ image for RF_pp2
saving c_reprt_ image for XT_pp2
saving c_reprt_ image for KNN_pp2
saving c_reprt_ image for DT_pp3
saving c_reprt_ image for ADA_pp3
saving c_reprt_ image for RF_pp3
saving c_reprt_ image for XT_pp3
saving c_reprt_ image for KNN_pp3
saving c_reprt_ image for LSVC_pp4
saving c_reprt_ image for LGR_pp4
saving c_reprt_ image for RDG_pp4
saving c_reprt_ image for NB_pp4
saving c_reprt_ image for SGDC_pp4
saving c_reprt_ image for LSVC_pp5
saving c_reprt_ image for LGR_pp5
saving c_reprt_ image for RDG_pp5
saving c_reprt_ image for NB_pp5
saving c_reprt_ image for SGDC_pp5
CPU times: user 3min 33s, sys: 23.6 s, total: 3min 56s
Wall time: 4min 4s

In [36]:
%%time
master.plot_Confusion_Matrix( load_saved=False)

saving c_matrx_ image for LGR
saving c_matrx_ image for DT_pp2
saving c_matrx_ image for ADA_pp2
saving c_matrx_ image for RF_pp2
saving c_matrx_ image for XT_pp2
saving c_matrx_ image for KNN_pp2
saving c_matrx_ image for DT_pp3
saving c_matrx_ image for ADA_pp3
saving c_matrx_ image for RF_pp3
saving c_matrx_ image for XT_pp3
saving c_matrx_ image for KNN_pp3
saving c_matrx_ image for LSVC_pp4
saving c_matrx_ image for LGR_pp4
saving c_matrx_ image for RDG_pp4
saving c_matrx_ image for NB_pp4
saving c_matrx_ image for SGDC_pp4
saving c_matrx_ image for LSVC_pp5
saving c_matrx_ image for LGR_pp5
saving c_matrx_ image for RDG_pp5
saving c_matrx_ image for NB_pp5
saving c_matrx_ image for SGDC_pp5
CPU times: user 3min 47s, sys: 24.4 s, total: 4min 12s
Wall time: 4min 22s

In [37]:
master.get_members_evaluations_all()

dict_keys(['LGR', 'DT_pp2', 'ADA_pp2', 'RF_pp2', 'XT_pp2', 'KNN_pp2', 'DT_pp3', 'ADA_pp3', 'RF_pp3', 'XT_pp3', 'KNN_pp3', 'LSVC_pp4', 'LGR_pp4', 'RDG_pp4', 'NB_pp4', 'SGDC_pp4', 'LSVC_pp5', 'LGR_pp5', 'RDG_pp5', 'NB_pp5', 'SGDC_pp5'])

In [38]:
print('Done')

Done