
# Load Libraries / Data

In [1]:
%run ../modules/library_to_import.ipynb

In [2]:
%run ../modules/Class_imdb.ipynb
%run ../modules/transformers_imdb.ipynb

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns
# sns.despine()
sns.set()
# sns.set(style='white', context='notebook', palette='deep')
# sns.set(style='white', palette='deep')
sns.despine()

In [4]:
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning) 
warnings.filterwarnings("ignore", category=FutureWarning)  
warnings.filterwarnings("ignore", category=UserWarning)  

np.set_printoptions(precision=2)

In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

evaluations_all -  it is a dictionary where all the information regarding models performance scores gets recorded. It`s the 'cloud'.

By acessing the 'cloud' the Class Super_Analtica will work in groups.
Analytica_bolada is lower level.

## Data

In [6]:
df = pd.read_csv('../../data/movie_data.csv')
df.head(5)

                                              review  sentiment
0  It's hard to put your finger on this one. Basi...          1
1  I mean, nothing happens, 5 dumb kids go to Okl...          0
2  "Så som in himmelen" was probably one of the 3...          1
3  This noir may not be the best remembered film ...          1
4  I'll be honest with yall, I was a junior in hi...          1

In [7]:
X = df['review'].values
y = df['sentiment'].values

In [8]:
# %load ./params_imdb.ipynb

In [9]:
df.head()
df.info()

                                              review  sentiment
0  It's hard to put your finger on this one. Basi...          1
1  I mean, nothing happens, 5 dumb kids go to Okl...          0
2  "Så som in himmelen" was probably one of the 3...          1
3  This noir may not be the best remembered film ...          1
4  I'll be honest with yall, I was a junior in hi...          1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
review       50000 non-null object
sentiment    50000 non-null int64
dtypes: int64(1), object(1)
memory usage: 781.3+ KB

In [10]:
df.sentiment.value_counts(normalize=True)

1    0.5
0    0.5
Name: sentiment, dtype: float64

feature union is for applying different vectorizers for different columns

# X  y

In [11]:
random_state = 42

# # DATAFRAMES USED ONLY WHEN NEED MORE THAN 1 COLUMN
# WORKS with sklearn-pandas to drive dataframes in sklearn or column extractor e To_Matrix

# X_train = df.loc[:100, ['review']].reset_index(drop=True)
# y_train = df.loc[:100, ['sentiment']].reset_index(drop=True)
# X_test = df.loc[49900:, ['review']].reset_index(drop=True)
# y_test = df.loc[49900:, ['sentiment']].reset_index(drop=True)

# X_train = df.loc[:200, ['review']].reset_index(drop=True)
# y_train = df.loc[:200, ['sentiment']].reset_index(drop=True)
# X_test = df.loc[49800:, ['review']].reset_index(drop=True)
# y_test = df.loc[49800:, ['sentiment']].reset_index(drop=True)

# AQUIIIIIII
# X_train = df.loc[:8000, ['review']].reset_index(drop=True)
# y_train = df.loc[:8000, ['sentiment']].reset_index(drop=True)
# X_test = df.loc[46000:, ['review']].reset_index(drop=True)
# y_test = df.loc[46000:, ['sentiment']].reset_index(drop=True)

# X_train = df.loc[:10000, ['review']].reset_index(drop=True)
# y_train = df.loc[:10000, ['sentiment']].reset_index(drop=True)
# X_test = df.loc[40000:, ['review']].reset_index(drop=True)
# y_test = df.loc[40000:, ['sentiment']].reset_index(drop=True)

X_train = df.loc[:20000, ['review']].reset_index(drop=True)
y_train = df.loc[:20000, ['sentiment']].reset_index(drop=True)
X_test = df.loc[45000:, ['review']].reset_index(drop=True)
y_test = df.loc[45000:, ['sentiment']].reset_index(drop=True)


# kfold = StratifiedKFold(n_splits=10, shuffle=False, random_state=random_state)
kfold = StratifiedKFold(n_splits=5, shuffle=False, random_state=random_state)
# kfold = 5
# kfold = 4

In [12]:
X_train

                                                  review
0      It's hard to put your finger on this one. Basi...
1      I mean, nothing happens, 5 dumb kids go to Okl...
2      "Så som in himmelen" was probably one of the 3...
3      This noir may not be the best remembered film ...
4      I'll be honest with yall, I was a junior in hi...
5      Damon Runyon's world of Times Square, in New Y...
6      After a group of young friends experience car ...
7      What makes for Best Picture material? The Osca...
8      I found this film extremely disturbing. Treadw...
9      This DVD set is the complete widescreen 15-epi...
10     Kevin Kline and Meg Ryan are among that class ...
11     Well...there were some great, creamy-smooth fa...
12     If I had not read Pat Barker's 'Union Street' ...
13     This movie is fun to watch. If you liked "Dave...
14     A charming, funny film that gets a solid grade...
15     The movie is about a day in the life of a woma...
16     I just rented this movie from the video store ...
17     I suppose I always felt that Hotel du Nord was...
18     I saw this on cable. Someone had to lose their...
19     I was one of quite a few extras in this big bo...
20     Raising Victor Vargas is a movie you definitel...
21     First of all, I believe that this movie is muc...
22     Jörg Buttgereit goes a bit too far with his mo...
23     I had the opportunity to see this last evening...
24     Certainly not horrible, but definitely not goo...
25     Before watching this movie from beginning to e...
26     Outrageously trashy karate/horror thriller wit...
27     "Death Promise" is a lost 70's exploitation ge...
28     Of the Korean movies I've seen, only three had...
29     Of course I have disappeared into the movies. ...
...                                                  ...
19971  Woaww Is it only now that you notice the links...
19972  I do not think I am alone when I say that 2005...
19973  I have no idea why people are so crazy about t...
19974  Probably the first Portuguese film I have seen...
19975  As an Altman fan, I'd sought out this movie fo...
19976  Dudley Moore is fantastic in this largley unkn...
19977  Stone has tried another type of movie. Any Giv...
19978  Another decent offering from the pen of Vince ...
19979  are you crazy or what? this movie has talent w...
19980  its a gem movie if anyone who hasn't seen movi...
19981  DVD has become the equivalent of the old late ...
19982  A bit slow (somehow like a Sofia Coppola movie...
19983  This film is an absolute classic for camp. Tha...
19984  The story of the untouchable who acted like a ...
19985  Watching this last night it amazed me that Fox...
19986  This one of the best and funniest comedy serie...
19987  Before I really slag this film off, I just wan...
19988  This movie has made me a rugby -- and Coach La...
19989  In the "goofs" section for this film there's a...
19990  As a writer I find films this bad making it in...
19991  What the hell is in your minds ? This film suc...
19992  Dick Tracy is one of my all time favorite film...
19993  My bad film guru (and the president of the Exp...
19994  This is, in simple terms, one of the worst fil...
19995  I saw this film when it was first released. Th...
19996  terribly underrated with matt dillon and tom s...
19997  A series of shorts spoofing dumb TV shows, Gro...
19998  Nothing could be more appealing than the idea ...
19999  I do love B- horror films. I however, am gener...
20000  When I first watched Flatliners, I was amazed....

[20001 rows x 1 columns]

In [13]:
X_test

                                                 review
0     The music and Laurence Olivier's sombre delive...
1     This movie is well made, it is beautiful and w...
2     I won't say the show is all bad, because there...
3     As a Southern Baptist, it pains me that I must...
4     The Lion King 1 1/2 is a very cute story to go...
5     This isn't a very good movie, but it is easily...
6     Some have praised -Atlantis:-The Lost Empire- ...
7     Roger Corman has enjoyed his shares of cinemat...
8     Why can't this type of compact, entertaining m...
9     For some perverse reason best known to themsel...
10    While some of the things in Haggard are dumb a...
11    Curl up with this one on a dark and stormy nig...
12    I loved it, it was really gruesome and disgust...
13    Red Rock West (1993)<br /><br />Nicolas Cage g...
14    This movie is not only poorly scripted and dir...
15    I notice the DVD version seems to have missing...
16    I can't believe it, IMDb really does have ever...
17    Since I am a fan of Natalie Portman, I had to ...
18    This is a movie that will brighten up your day...
19    This is the second part of 'The Animatrix', a ...
20    Mel Gibson's Braveheart was a spectacularly ac...
21    A dreary, hopelessly predictable film set in a...
22    I saw this version about a decade ago, and hav...
23    Or released on DVD or screened on a cable chan...
24    This film flopped miserably in the UK, and it ...
25    "A scientist discovers signals from space that...
26    I have just watched the season 2 finale of Doc...
27    This film is just another distortion, among ma...
28    I had watched as much of the series as I could...
29    Bette Davis brings her full trunk of tics to t...
...                                                 ...
4970  I understand what this movie was trying to por...
4971  There is part of one sequence where some water...
4972  I think we all begin a lot of reviews with, "T...
4973  My daughter liked it but I was aghast, that a ...
4974  I just saw this film again, I believe for the ...
4975  It utterly defeats me why Godard is taken so s...
4976  Jimmy (Heath Ledger) is given a simple job by ...
4977  I attempted to watch this film without being a...
4978  Bloody Birthday plays on the assumed innocence...
4979  Disappointing film. Performance of actors is w...
4980  One of Warner Brothers best and highest grossi...
4981  How this has not become a cult film I do not k...
4982  The laughs are few and far between in this dul...
4983  I wouldn't call "We're Back! A Dinosaur's Stor...
4984  I contend that whoever is ultimately responsib...
4985  This was a well written tale of the Making of ...
4986  Even if you know absolutely nothing about Irel...
4987  `Rock star' is not on its way to any `stairway...
4988  I bought this game on an impulse buy from walm...
4989  A poorly-paced sf/horror venture that takes it...
4990  I don't understand how this garbage got on the...
4991  What seemed as a good premise for a movie...un...
4992  Although compared with "Mad Max", this film is...
4993  This show is a show that is great for adults a...
4994  (No spoilers, just plot details) I can't under...
4995  I'd heard this Japanese flick is edgy, creativ...
4996  The director does not know what to do with a c...
4997  I've seen this movie after watching Paltrow's ...
4998  I could never stand watching Happy Days after ...
4999  Stephen Hawkings is a genius. He is the king o...

[5000 rows x 1 columns]

In [14]:
y_train

       sentiment
0              1
1              0
2              1
3              1
4              1
5              1
6              1
7              1
8              0
9              1
10             0
11             0
12             0
13             1
14             1
15             0
16             1
17             1
18             0
19             0
20             1
21             1
22             1
23             1
24             0
25             1
26             0
27             1
28             1
29             0
...          ...
19971          1
19972          1
19973          0
19974          1
19975          0
19976          1
19977          0
19978          1
19979          1
19980          0
19981          0
19982          1
19983          1
19984          1
19985          0
19986          1
19987          0
19988          1
19989          1
19990          0
19991          0
19992          1
19993          0
19994          0
19995          0
19996          1
19997          1
19998          0
19999          1
20000          1

[20001 rows x 1 columns]

In [15]:
y_test

      sentiment
0             1
1             1
2             0
3             0
4             1
5             0
6             0
7             0
8             1
9             1
10            1
11            1
12            1
13            1
14            0
15            1
16            0
17            1
18            1
19            1
20            1
21            0
22            1
23            1
24            1
25            0
26            1
27            0
28            1
29            0
...         ...
4970          0
4971          0
4972          0
4973          0
4974          1
4975          0
4976          1
4977          0
4978          1
4979          0
4980          1
4981          1
4982          0
4983          1
4984          1
4985          1
4986          1
4987          1
4988          1
4989          0
4990          0
4991          0
4992          1
4993          1
4994          1
4995          0
4996          0
4997          1
4998          0
4999          1

[5000 rows x 1 columns]

In [16]:
X_train.shape
# X_train.info()
type(X_train)

(20001, 1)

pandas.core.frame.DataFrame

In [17]:
y_train.shape
# y_train.info()
type(y_train)

(20001, 1)

pandas.core.frame.DataFrame

In [18]:
X_test.shape
# X_test.info()
type(X_test)

(5000, 1)

pandas.core.frame.DataFrame

In [19]:
y_test.shape
# y_train.info()
type(y_test)

(5000, 1)

pandas.core.frame.DataFrame

# PRE LOADING

In [20]:
def tokenizer_split(text):
    return [porter.stem(w) for w in text.split(' ')]

def tokenizer_porter(text):
    return [porter.stem(w) for w in text.split(' ') if not w in stop_words ]

tfidf = TfidfVectorizer(strip_accents=None, lowercase=False, preprocessor=None)

In [21]:
master = Super_Analytica('master')

In [22]:
stop_words = nltk.corpus.stopwords.words('english')
porter = PorterStemmer()

In [23]:
%run ../modules/params_imdb.ipynb

# Vocabulary

In [26]:
%%time
# Defining Vocab
pipe = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('counts', CountVectorizer(max_features=5000, stop_words='english', min_df=3, 
                               tokenizer=tokenizer_porter))
])

train_features_matrix_1 = pipe.fit_transform(X_train)
vocab = pipe.named_steps['counts'].get_feature_names()

CPU times: user 59 s, sys: 502 ms, total: 59.5 s
Wall time: 1min

In [24]:
filename = 'vocab_5'

In [25]:
# saving vocabulary with pickle
# joblib.dump(vocab, '../pkl/'+ filename + '.pkl') 

# loading vocabulary previoulsy pickled
vocab = joblib.load('../pkl/'+ filename + '.pkl') 
len(vocab)

5000

# Load Pickle

In [26]:
# for i in md_7_all:
#     master.pkl_R(i)

# First  ROUND

In [27]:
nc = 1000

In [28]:
pipe_1 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('tf-idf_vec', TfidfVectorizer(vocabulary=vocab)),
    ('TruncatedSVD', TruncatedSVD(n_components=nc)),
    ('Normalize', Normalizer(copy=False))
])

pipe_2 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('counts', CountVectorizer(vocabulary=vocab)),
    ('Normalize', Normalizer(copy=False))
])

In [29]:
master.evaluate_CV(pipe_1, clf_L , '_13', pkl_W=True) 
master.evaluate_CV(pipe_1, clf_T, '_13', pkl_W=True) 
master.evaluate_CV(pipe_1, ['KNN', 'SGDC'] , '_13', pkl_W=True)
master.evaluate_CV(pipe_2, ['NB'] , '_13', pkl_W=True)

LinearSVC_13   Cross Validation and Pickled Done in  3.0  minutes  /-->acc : 0.8966436072692924

LGR_13   Cross Validation and Pickled Done in  3.0  minutes  /-->acc : 0.8991424210672259

LDA_13   Cross Validation and Pickled Done in  3.0  minutes  /-->acc : 0.8934513541647547

DT_13   Cross Validation and Pickled Done in  7.0  minutes  /-->acc : 0.654489679441712

ADA_13   Cross Validation and Pickled Done in  7.0  minutes  /-->acc : 0.6511529419798929

RF_13   Cross Validation and Pickled Done in  3.0  minutes  /-->acc : 0.6755930517724852

XT_13   Cross Validation and Pickled Done in  3.0  minutes  /-->acc : 0.6235558736364603

KNN_13   Cross Validation and Pickled Done in  10.0  minutes  /-->acc : 0.7453819997182813

SGDC_13   Cross Validation and Pickled Done in  3.0  minutes  /-->acc : 0.8967531153567195

NB_13   Cross Validation and Pickled Done in  1.0  minutes  /-->acc : 0.8877674663160144

## HP

HP max_iter = 100

In [30]:
# master.evaluations_all['LGR_8_HP']['best_estimator'].named_steps['LGR']

In [31]:
param['LinearSVC_HP'] = {'LinearSVC__C': hp.choice('C', [0.1, 1, 10, 100, 1000])}

md_LinearSVC = Analytica_Bolada('LinearSVC', param['LinearSVC_HP'], 'LinearSVC_13_HP')
md_LinearSVC.evaluate_HP3(pipe_1, pkl_W=True)

acc : 0.8268127880711578
LinearSVC_13_HP   pickled to disk
LinearSVC_13_HP   HP3 done in  36.0  minutes

In [32]:
param['NB_HP'] = {'NB__alpha': hp.choice('alpha', [0.1, 0.3, 0.5, 0.7, 0.8, 0.9, 1 ])}

md_NB = Analytica_Bolada('NB', param['NB_HP'], 'NB_13_HP')
md_NB.evaluate_HP3(pipe_2, pkl_W=True)  # pipe especifico para NB. Nao usa pipe_1

acc : 0.8159492130668853
NB_13_HP   pickled to disk
NB_13_HP   HP3 done in  6.0  minutes

In [1]:
# HP_max_evals = 150
param['RF'] = {
                    'RF__n_estimators': hp.choice('XRF__n_estimators', [1, 10, 100]), 
                    'RF__min_samples_split'      : hp.choice("XRF__min_samples_split",[2, 5, 10])
                   }


md_RF = Analytica_Bolada('RF', param['RF'], 'RF_13_HP')
md_RF.evaluate_HP3(pipe_1, pkl_W=True)

NameError: name 'hp' is not defined

In [ ]:
param['LGR_13_HP'] = {'LGR__C': hp.choice('zz_LGR__C', [1.e-1, 1.e+0, 1.e+1, 1.e+2, 1.e+3])}

md_LGR = Analytica_Bolada('LGR', param['LGR_13_HP'], 'LGR_13_HP')
md_LGR.evaluate_HP3(pipe_1, pkl_W=True)

# PLOTTING

In [ ]:
master.get_members_evaluations_all()

In [ ]:
%%time
master.plot_learning_curve(load_saved=False)

In [ ]:
%%time
L = ['LinearSVC_13', 'LGR_13', 'LDA_13', 'DT_13', 'ADA_13', 'RF_13', 'XT_13', 'KNN_13', 'SGDC_13', 'NB_13', 'LinearSVC_13_HP', 'NB_13_HP', 'RF_13_HP', 'LGR_13_HP']
master.plot_Classification_Report(chosen=L, load_saved=False)

In [ ]:
%%time
master.plot_Confusion_Matrix(chosen=L, load_saved=False)

In [ ]:
%%time
# com problemas: LinearSVC_1, SGDC_1
L =  ['LGR_13', 'LDA_13', 'DT_13', 'ADA_13', 'RF_13', 'XT_13', 'KNN_13', 'NB_13', 'NB_13_HP', 'RF_13_HP', 'LGR_13_HP']
master.plot_ROC_AUC(chosen=L, load_saved=False)

In [ ]:
master.get_members_evaluations_all()

In [ ]:
print('Done')