
# Load Libraries / Data

In [1]:
%run ../modules/library_to_import.ipynb

In [2]:
%run ../modules/Class_imdb.ipynb
%run ../modules/transformers_imdb.ipynb

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns
# sns.despine()
sns.set()
# sns.set(style='white', context='notebook', palette='deep')
# sns.set(style='white', palette='deep')
sns.despine()

In [4]:
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning) 
warnings.filterwarnings("ignore", category=FutureWarning)  
warnings.filterwarnings("ignore", category=UserWarning)  

np.set_printoptions(precision=2)

In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

evaluations_all -  it is a dictionary where all the information regarding models performance scores gets recorded. It`s the 'cloud'.

By acessing the 'cloud' the Class Super_Analtica will work in groups.
Analytica_bolada is lower level.

## Data

In [6]:
random_state = 42

kfold = StratifiedKFold(n_splits=8, shuffle=False, random_state=random_state)

In [7]:
data_raw = pd.read_csv("../../data/labeledTrainData.tsv", header=0, \
                    delimiter="\t", quoting=3)

In [8]:
data_raw.head()
data_raw.info()

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
id           25000 non-null object
sentiment    25000 non-null int64
review       25000 non-null object
dtypes: int64(1), object(2)
memory usage: 586.0+ KB

In [9]:
data_raw.sentiment.value_counts(normalize=True)

1    0.5
0    0.5
Name: sentiment, dtype: float64

# X  y

In [10]:
train_raw = data_raw[:20000]
test_raw = data_raw[20000:]

# train_raw = data_raw[:2000]
# test_raw = data_raw[2000:]

In [11]:
train_raw.head()
train_raw.info()

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
id           2000 non-null object
sentiment    2000 non-null int64
review       2000 non-null object
dtypes: int64(1), object(2)
memory usage: 47.0+ KB

In [12]:
test_raw.head()
test_raw.info()

             id  sentiment                                             review
2000  "1766_10"          1  "I got a free pass to a preview of this movie ...
2001   "1027_1"          0  "Normally, I have much better things to do wit...
2002  "3729_10"          1  "While I suppose this film could get the rap a...
2003   "7353_7"          1  "This film could be one of the most underrated...
2004   "6893_3"          0  "I had high hopes for this movie. The theater ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23000 entries, 2000 to 24999
Data columns (total 3 columns):
id           23000 non-null object
sentiment    23000 non-null int64
review       23000 non-null object
dtypes: int64(1), object(2)
memory usage: 539.1+ KB

In [13]:
X = train_raw[['review']]
y = train_raw[['sentiment']]

In [14]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25, random_state=random_state)

In [15]:
X_train.shape
X_train.head()
y_train.shape 
y_train.head()

(1500, 1)

                                                 review
1738  "Harold Pinter rewrites Anthony Schaeffer's cl...
548   "The American Humane Association, which is the...
936   "a friend gave it to me saying it was another ...
1389  "The movie is okay, it has it's moments, the m...
1607  "Was this movie stupid? Yup. Did this movie de...

(1500, 1)

      sentiment
1738          0
548           0
936           0
1389          1
1607          0

In [16]:
X_val.shape 
X_val.head()
y_val.shape
y_val.head()

(500, 1)

                                                 review
1860  "I had never heard of this film before a coupl...
353   "This movie is all about subtlety and the diff...
1333  "If you loved Deep Cover, you might like this ...
905   "I thought it was one of the best sequels I ha...
1289  "Today I found \"They All Laughed\" on VHS on ...

(500, 1)

      sentiment
1860          1
353           1
1333          1
905           1
1289          0

In [17]:
test_raw.head()

             id  sentiment                                             review
2000  "1766_10"          1  "I got a free pass to a preview of this movie ...
2001   "1027_1"          0  "Normally, I have much better things to do wit...
2002  "3729_10"          1  "While I suppose this film could get the rap a...
2003   "7353_7"          1  "This film could be one of the most underrated...
2004   "6893_3"          0  "I had high hopes for this movie. The theater ...

In [18]:
X_test = test_raw[['review']]
y_test = test_raw[['sentiment']]

In [19]:
X_test.shape
y_test.shape

(23000, 1)

(23000, 1)

In [20]:
X_train.shape
# X_train.info()
type(X_train)

(1500, 1)

pandas.core.frame.DataFrame

In [21]:
y_train.shape
# y_train.info()
type(y_train)

(1500, 1)

pandas.core.frame.DataFrame

In [22]:
X_test.shape
# X_test.info()
type(X_test)

(23000, 1)

pandas.core.frame.DataFrame

In [23]:
y_test.shape
# y_train.info()
type(y_test)

(23000, 1)

pandas.core.frame.DataFrame

# PRE LOADING

In [24]:
def tokenizer_split(text):
    return [porter.stem(w) for w in text.split(' ')]

def tokenizer_porter(text):
    return [porter.stem(w) for w in text.split(' ') if not w in stop_words ]

tfidf = TfidfVectorizer(strip_accents=None, lowercase=False, preprocessor=None)

In [25]:
master = Super_Analytica('master')

In [26]:
stop_words = nltk.corpus.stopwords.words('english')
porter = PorterStemmer()

In [27]:
%run ../modules/params_imdb.ipynb

# KNN

In [28]:
best_params = {
    'vec__max_df': 0.9,
    'vec__min_df': 2,
    'vec__ngram_range': (1, 3),
    'vec__sublinear_tf': True
}

In [29]:
pipe_11 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('vec', TfidfVectorizer(max_features=20000, stop_words='english'))
])

In [30]:
param['KNN_HP_1'] = {'vec__ngram_range': hp.choice('vec__ngram_range', [(1, 1), (1, 2), (1, 3)]),
                     'vec__min_df': 1+hp.randint('vec__min_df', 3),
                     'vec__max_df': hp.uniform('vec__max_df', 0.7, 1.0),
                     'vec__sublinear_tf': hp.choice('vec__sublinear_tf', [True, False]),
                     'KNN__n_neighbors': hp.choice('KNN__n_neighbors', [5, 10, 20, 50, 100])
                     }

md_KNN = Analytica_Bolada('KNN', param['KNN_HP_1'], 'KNN_HP_cv_1')
md_KNN.evaluate_HP_cv(pipe_11, pkl_W=True)

cv score: 0.8056924645645231
test score : 0.8314187635748118
KNN_HP_cv_1  HP_cv and pickled to disk Done in 0.0  minutes

# TREES

In [31]:
clf_T

['DT', 'ADA', 'RF', 'XT']

In [32]:
class LemmaTokenizer(object):
    def __init__(self):
        self.wnl = WordNetLemmatizer()

    def __call__(self, doc):
        return [self.wnl.lemmatize(t) for t in word_tokenize(doc)]


pipe_9 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('vec', TfidfVectorizer(max_features=4000, stop_words='english', tokenizer=LemmaTokenizer())),
    ('kbest', SelectPercentile(chi2))
])


# pipe_9.set_params(**best_params)

## RF

In [33]:
# HP_max_evals = 150
param['RF_HP_1'] = {'vec__ngram_range': hp.choice('vec__ngram_range', [(1, 1), (1, 2), (1, 3)]),
                    'vec__min_df': 1+hp.randint('vec__min_df', 3),
                    'vec__max_df': hp.uniform('vec__max_df', 0.7, 1.0),
                    'vec__sublinear_tf': hp.choice('vec__sublinear_tf', [True, False]),
                    'kbest__percentile': hp.uniform('kbest__percentile', 50, 100),
                    'RF__n_estimators': hp.choice('XRF__n_estimators', [1, 10, 100]),
                    'RF__min_samples_split': hp.choice("XRF__min_samples_split", [2, 5, 10])
                    }

md_RF = Analytica_Bolada('RF', param['RF_HP_1'], 'RF_HP_cv_1')
md_RF.evaluate_HP_cv(pipe_9, pkl_W=True)
# max_yter = 3 --> 16 min
# max_iter = 20 --> ?? min

cv score: 0.8165263296779731
test score : 0.8133759570539404
RF_HP_cv_1  HP_cv and pickled to disk Done in 1.0  minutes

## XT

In [34]:
param['XT_HP_1'] = {
#     'vec__ngram_range': hp.choice('vec__ngram_range', [(1, 1), (1, 2), (1, 3)]),
#     'vec__min_df': 1+hp.randint('vec__min_df', 3),
#     'vec__max_df': hp.uniform('vec__max_df', 0.7, 1.0),
#     'vec__sublinear_tf': hp.choice('vec__sublinear_tf', [True, False]),
#     'kbest__percentile': hp.uniform('kbest__percentile', 50, 100),
    "XT__n_estimators": hp.choice('XT__n_estimators', [10, 50, 100, 300 ,500, 1000]),
    "XT__max_features": hp.choice("XT__max_features", ['auto', 'sqrt'])  
}
md_XT = Analytica_Bolada('XT', param['XT_HP_1'], 'XT_HP_cv_1')
md_XT.evaluate_HP_cv(pipe_9, pkl_W=True)
# max_iter = 3 --> 11 min
# max_iter = 20 --> ?? min

cv score: 0.8654146413158816
test score : 0.8910441891825914
XT_HP_cv_1  HP_cv and pickled to disk Done in 1.0  minutes

# LINEAR

In [35]:
P_algos = clf_L + ['NB', 'SGDC']

In [36]:
pipe_4 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('vec', TfidfVectorizer(stop_words='english'))
])

## LGR

In [37]:
param['LGR_HP_1'] = {'vec__ngram_range': hp.choice('vec__ngram_range', [(1, 1), (1, 2), (1, 3)]),
                     'vec__min_df': 1+hp.randint('vec__min_df', 3),
                     'vec__max_df': hp.uniform('vec__max_df', 0.7, 1.0),
                     'vec__sublinear_tf': hp.choice('vec__sublinear_tf', [True, False]),
                     'LGR__C': hp.choice('zz_LGR__C', [1.e-1, 1.e+0, 1.e+1, 1.e+2, 1.e+3])}

md_LGR = Analytica_Bolada('LGR', param['LGR_HP_1'], 'LGR_HP_cv_1')
md_LGR.evaluate_HP_cv(pipe_4, pkl_W=True)

cv score: 0.9083793891029357
test score : 0.9188419150818696
LGR_HP_cv_1  HP_cv and pickled to disk Done in 0.0  minutes

In [38]:
LogisticRegression()

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

## NB

In [39]:
# HP max_iter = 20
param['NB_HP'] = {'vec__ngram_range': hp.choice('vec__ngram_range', [(1, 1), (1, 2), (1, 3)]),
                  'vec__min_df': 1+hp.randint('vec__min_df', 3),
                  'vec__max_df': hp.uniform('vec__max_df', 0.7, 1.0),
                  'vec__sublinear_tf': hp.choice('vec__sublinear_tf', [True, False]),
                  'NB__alpha': hp.choice('zz_alpha', [0.001, 0.1, 0.5, 1.0, 10.0, 100.0, 1000.0])} 

md_NB = Analytica_Bolada('NB', param['NB_HP'], 'NB_HP_cv_1')
md_NB.evaluate_HP_cv(pipe_4, pkl_W=True)

cv score: 0.8537130768080485
test score : 0.8707138739994319
NB_HP_cv_1  HP_cv and pickled to disk Done in 0.0  minutes

## SGDC

In [40]:

param['SGDC_HP_1'] = {'vec__ngram_range': hp.choice('vec__ngram_range', [(1, 1), (1, 2), (1, 3)]),
                 'vec__min_df': 1+hp.randint('vec__min_df', 3),
                 'vec__max_df': hp.uniform('vec__max_df', 0.7, 1.0),
                 'vec__sublinear_tf': hp.choice('vec__sublinear_tf', [True, False]),
                 'SGDC__l1_ratio': hp.uniform('clf__l1_ratio', 0.0, 1.0),
                 'SGDC__alpha': hp.loguniform('clf__alpha', -9*np.log(10), -4*np.log(10)),
                 'SGDC__n_iter': 20 + 5*hp.randint('clf__n_iter', 12)
                }

md_SGDC = Analytica_Bolada('SGDC', param['SGDC_HP_1'], 'SGDC_HP_cv_1')
md_SGDC.evaluate_HP_cv(pipe_4, pkl_W=True)

cv score: 0.890205730011885
test score : 0.892855894409853
SGDC_HP_cv_1  HP_cv and pickled to disk Done in 0.0  minutes

# PLOTTING

In [41]:
master.get_members_evaluations_all()

dict_keys(['KNN_HP_cv_1', 'RF_HP_cv_1', 'XT_HP_cv_1', 'LGR_HP_cv_1', 'NB_HP_cv_1', 'SGDC_HP_cv_1'])

In [42]:
%%time
master.plot_learning_curve(load_saved=False)

saving l_curve_ image for  KNN_HP_cv_1
saving l_curve_ image for  RF_HP_cv_1
saving l_curve_ image for  XT_HP_cv_1
saving l_curve_ image for  LGR_HP_cv_1
saving l_curve_ image for  NB_HP_cv_1
saving l_curve_ image for  SGDC_HP_cv_1
CPU times: user 2min 46s, sys: 3.15 s, total: 2min 49s
Wall time: 2min 54s

In [43]:
# %%time
# master.plot_Classification_Report( load_saved=False)

In [44]:
%%time
master.plot_Confusion_Matrix( load_saved=False)

saving c_matrx_ image for KNN_HP_cv_1
saving c_matrx_ image for RF_HP_cv_1
saving c_matrx_ image for XT_HP_cv_1
saving c_matrx_ image for LGR_HP_cv_1
saving c_matrx_ image for NB_HP_cv_1
saving c_matrx_ image for SGDC_HP_cv_1
CPU times: user 2min 21s, sys: 15.1 s, total: 2min 36s
Wall time: 2min 39s

In [45]:
master.get_members_evaluations_all()

dict_keys(['KNN_HP_cv_1', 'RF_HP_cv_1', 'XT_HP_cv_1', 'LGR_HP_cv_1', 'NB_HP_cv_1', 'SGDC_HP_cv_1'])

In [46]:
print('Done')

Done