
# Load Libraries / Data

In [1]:
%run ../modules/library_to_import.ipynb

In [2]:
%run ../modules/Class_imdb.ipynb
%run ../modules/transformers_imdb.ipynb

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns
# sns.despine()
sns.set()
# sns.set(style='white', context='notebook', palette='deep')
# sns.set(style='white', palette='deep')
sns.despine()

In [4]:
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning) 
warnings.filterwarnings("ignore", category=FutureWarning)  
warnings.filterwarnings("ignore", category=UserWarning)  

np.set_printoptions(precision=2)

In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [6]:
random_state = 42

evaluations_all -  it is a dictionary where all the information regarding models performance scores gets recorded. It`s the 'cloud'.

By acessing the 'cloud' the Class Super_Analtica will work in groups.
Analytica_bolada is lower level.

## Data

In [7]:
# df = pd.read_csv('../../data/movie_data.csv')
data_raw = pd.read_csv("../../data/labeledTrainData.tsv", header=0, \
                    delimiter="\t", quoting=3)

In [8]:
data_raw.head()
data_raw.info()

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
id           25000 non-null object
sentiment    25000 non-null int64
review       25000 non-null object
dtypes: int64(1), object(2)
memory usage: 586.0+ KB

In [9]:
# %load ./params_imdb.ipynb

In [10]:
data_raw.sentiment.value_counts(normalize=True)

1    0.5
0    0.5
Name: sentiment, dtype: float64

feature union is for applying different vectorizers for different columns

# X  y

## Train , Validation

In [11]:
data_raw.head()

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

In [12]:
train_raw = data_raw[:20000]
test_raw = data_raw[20000:]

In [13]:
train_raw.head()
train_raw.info()

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 3 columns):
id           20000 non-null object
sentiment    20000 non-null int64
review       20000 non-null object
dtypes: int64(1), object(2)
memory usage: 468.8+ KB

In [14]:
test_raw.head()
test_raw.info()

              id  sentiment                                             review
20000   "3862_4"          0  "I just watched it. A couple of laughs, but no...
20001   "674_10"          1  "While to most people watching the movie, this...
20002  "8828_10"          1  "I was so glad I came across this short film. ...
20003   "2963_8"          1  "The creators of south park in their own film ...
20004   "2483_1"          0  "Unspeakably discombobulated turkey, a mix of ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 20000 to 24999
Data columns (total 3 columns):
id           5000 non-null object
sentiment    5000 non-null int64
review       5000 non-null object
dtypes: int64(1), object(2)
memory usage: 117.3+ KB

In [15]:
X = train_raw[:20000][['review']]
y = train_raw[:20000][['sentiment']]

In [16]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25, random_state=random_state)

In [17]:
X_train.shape
X_train.head()
y_train.shape 
y_train.head()

(15000, 1)

                                                  review
5514   "There is a DVD published in the UK in 2002 Co...
1266   "Frownland is like one of those intensely emba...
5864   "I rented this because I'm a bit weary of '80s...
15865  "I like bad movies. I like to rent bad movies ...
12892  "The story line was very straight forward and ...

(15000, 1)

       sentiment
5514           0
1266           1
5864           0
15865          0
12892          0

In [18]:
X_val.shape 
X_val.head()
y_val.shape
y_val.head()

(5000, 1)

                                                  review
10650  "I can't believe that Steven Segal's career ha...
2041   "I wasn't quite sure if this was just going to...
8668   "First of all, if you'r a fan of the comic, we...
1114   "I really liked this movie, and went back to s...
13902  "Yes, CHUNKY, this is the nick-name that Donna...

(5000, 1)

       sentiment
10650          0
2041           1
8668           0
1114           1
13902          0

## Test

In [43]:
test_raw.head()

              id  sentiment                                             review
20000   "3862_4"          0  "I just watched it. A couple of laughs, but no...
20001   "674_10"          1  "While to most people watching the movie, this...
20002  "8828_10"          1  "I was so glad I came across this short film. ...
20003   "2963_8"          1  "The creators of south park in their own film ...
20004   "2483_1"          0  "Unspeakably discombobulated turkey, a mix of ...

In [20]:
X_test = test_raw[['review']]
y_test = test_raw[['sentiment']]

In [21]:
X_test.shape
y_test.shape

(5000, 1)

(5000, 1)

In [22]:
random_state = 42

# # DATAFRAMES USED ONLY WHEN NEED MORE THAN 1 COLUMN
# WORKS with sklearn-pandas to drive dataframes in sklearn or column extractor e To_Matrix

# X_train = df.loc[:100, ['review']].reset_index(drop=True)
# y_train = df.loc[:100, ['sentiment']].reset_index(drop=True)
# X_test = df.loc[49900:, ['review']].reset_index(drop=True)
# y_test = df.loc[49900:, ['sentiment']].reset_index(drop=True)

# X_train = df.loc[:2000, ['review']].reset_index(drop=True)
# y_train = df.loc[:2000, ['sentiment']].reset_index(drop=True)
# X_test = df.loc[49000:, ['review']].reset_index(drop=True)
# y_test = df.loc[49000:, ['sentiment']].reset_index(drop=True)


# # AQUIIIIIII
# X_train = df.loc[:1000, ['review']].reset_index(drop=True)
# y_train = df.loc[:1000, ['sentiment']].reset_index(drop=True)
# X_test = df.loc[49500:, ['review']].reset_index(drop=True)
# y_test = df.loc[49500:, ['sentiment']].reset_index(drop=True)

# X_train = df.loc[:10000, ['review']].reset_index(drop=True)
# y_train = df.loc[:10000, ['sentiment']].reset_index(drop=True)
# X_test = df.loc[40000:, ['review']].reset_index(drop=True)
# y_test = df.loc[40000:, ['sentiment']].reset_index(drop=True)

# X_train = df.loc[:20000, ['review']].reset_index(drop=True)
# y_train = df.loc[:20000, ['sentiment']].reset_index(drop=True)
# X_val = df.loc[25000:30000, ['review']].reset_index(drop=True)
# y_val = df.loc[25000:30000, ['sentiment']].reset_index(drop=True)
# X_test = df.loc[30000:40000, ['review']].reset_index(drop=True)
# y_test = df.loc[30000:40000, ['sentiment']].reset_index(drop=True)

# X_train = df.loc[:2000, ['review']].reset_index(drop=True)
# y_train = df.loc[:2000, ['sentiment']].reset_index(drop=True)
# X_val = df.loc[2500:3000, ['review']].reset_index(drop=True)
# y_val = df.loc[2500:3000, ['sentiment']].reset_index(drop=True)
# X_test = df.loc[3000:4000, ['review']].reset_index(drop=True)
# y_test = df.loc[3000:4000, ['sentiment']].reset_index(drop=True)


# X_train = df.loc[:20000, ['review']].reset_index(drop=True)
# y_train = df.loc[:20000, ['sentiment']].reset_index(drop=True)
# X_test = df.loc[45000:, ['review']].reset_index(drop=True)
# y_test = df.loc[45000:, ['sentiment']].reset_index(drop=True)


# kfold = StratifiedKFold(n_splits=10, shuffle=False, random_state=random_state)
kfold = StratifiedKFold(n_splits=8, shuffle=False, random_state=random_state)
# kfold = 5
# kfold = 4

## _

In [23]:
X_train

                                                  review
5514   "There is a DVD published in the UK in 2002 Co...
1266   "Frownland is like one of those intensely emba...
5864   "I rented this because I'm a bit weary of '80s...
15865  "I like bad movies. I like to rent bad movies ...
12892  "The story line was very straight forward and ...
5742   "Please, someone stop Ben Stiller from acting ...
13653  "The master of movie spectacle Cecil B. De Mil...
3780   "This film, as low budget as it may be, is one...
12574  "The female lead was a terrible actress which ...
15733  "One measurement for the greatness of a movie ...
8985   "I think 'Blackadder the Third' is the best on...
14535  "Having not seen the films before (and not bei...
14107  "\"House Of Evil\" aka \"Dance Of Death\" of 1...
10206  "Really, when it comes down to it, this movie ...
19972  "Jeez, only in the 70's... Antonio Margheriti ...
11811  "By no means a masterpiece, and far from Errol...
1566   "For starters, I didn't even know about this s...
11276  "It is so rare that I get to rate a movie with...
7752   "As a person who sought out an existence as a ...
5857   "What I liked best in this film is that like t...
4514   "Slashers.....well if you like horrors its def...
7655   "What else can you say about this movie,except...
12025  "I have not seen this movie in ages but figure...
5908   "Sogo Ishii has taken the old myth of Musashib...
19144  "I saw the 10p.m. showing and I must say that ...
1544   "I love the frequently misnomered \"Masters of...
11416  "Okay...so i've seen a lot of really odd/unusu...
8845   "To begin with, I loved göta kanal 1, it had a...
2604   "This film came recommended as a good action f...
9150   "MY BROTHER TOM <br /><br />Aspect ratio: 1.85...
...                                                  ...
1267   "Care Bears Movie 2: A New Generation isn't at...
1899   "Young Mr. Lincoln marks the first film of the...
3005   "Prom Night is about a girl named Donna (Britt...
19118  "I saw this movie after i saw Blue Crush and o...
189    "Really, everybody in this movie looks like th...
2747   "I'm not sure how I missed this one when it fi...
18431  "I just don't get some of the big premises of ...
18942  "Well, I suppose the good news concerning Will...
8666   "After her Oscar-nominated turn in \"Secrets &...
6396   "I find it rather useless to comment on this \...
19769  "Yakitate! Ja-pan (translated as Fresh Baked! ...
17568  "This review is based on the dubbed Shock-o-Ra...
6420   "When I spotted that Noah Wyle and Ricky Schro...
5051   "Ain't it hilarious when an average schmo lead...
5311   "Detective Tony Rome (Frank Sinatra) returns t...
2433   "In the very first episode of Friends, which a...
769    "I have just recently purchased collection one...
1685   "The screen writing is so dumb it pains me to ...
8322   "Mardi Gras: Made in china is an excellent mov...
16023  "A great story, based on a true story about a ...
11363  "Admirably odd, though mean-spirited comedy-dr...
14423  "Again Stacy Peralta is true first to the peop...
4426   "Jane Eyre_ is one of the greatest novels in t...
16850  "* Firstly, although many say it is the worst ...
6265   "Such a joyous world has been created for us i...
11284  "\"Shadrach\" was not my favorite type of movi...
11964  "A friend of mine gave me this movie. A friend...
5390   "Stewart is a Wyoming cattleman who dreams to ...
860    "1928 is in many ways a \"lost year\" in motio...
15795  "I felt this film - throughout. I waas impress...

[15000 rows x 1 columns]

In [24]:
X_test

                                                  review
20000  "I just watched it. A couple of laughs, but no...
20001  "While to most people watching the movie, this...
20002  "I was so glad I came across this short film. ...
20003  "The creators of south park in their own film ...
20004  "Unspeakably discombobulated turkey, a mix of ...
20005  "If an auteur gives himself 2 credits before t...
20006  "I can't believe that so much talent can be wa...
20007  "This should be re-titled \"The Curious Case O...
20008  "A woman who hates cats (Alice Krige) and her ...
20009  "I've always been a great fan of Woody Allen a...
20010  "Mesmerizing, breathtaking and horrifying, thi...
20011  "\"Houseboat Horror\" is often regarded as the...
20012  "I saw this film under the title of \"Tied Up\...
20013  "If you like a syfi soap opera this show is fo...
20014  "The longer this film went on-and it seemed to...
20015  "It's the same old, \"If I can't get the fundi...
20016  "The Cowboys could leave you a little sore in ...
20017  "War is hell. But this documentary of WWII is ...
20018  "This final Voyager episode begins 23 years in...
20019  "I guess you have to give some points for the ...
20020  "\"Rois et Reine\" is a sprawling mess of a mo...
20021  "This series gets 2 stars solely because it pu...
20022  "I cannot stop saying how much I loved this mo...
20023  "What a time we live in when someone like this...
20024  "Just the fact that the cover is a drawing, li...
20025  "1927, and Hollywood had been on the map as th...
20026  "i was disappointed. the film was a bit predic...
20027  "Excellent, pre-code amoral tale with Barbara ...
20028  "The Menagerie parts one and two was the only ...
20029  "I just saw this film on Turner Classic Movies...
...                                                  ...
24970  "Red Rock West (1993)<br /><br />Nicolas Cage ...
24971  "what can i say?, ms Erika Eleniak is my favor...
24972  "The spoiler warning is for those people who w...
24973  "What do you call a horror story without horro...
24974  "Though not a horror film in the traditional s...
24975  "This was what black society was like before t...
24976  "They probably should have called this movie T...
24977  "Attractive Marjorie(Farrah Fawcett)lives in f...
24978  "Vaguely reminiscent of great 1940's westerns,...
24979  "I admit I had no idea what to expect before v...
24980  "To me, the final scene, in which Harris respo...
24981  "This is by far the funniest short made by the...
24982  "To be a Buster Keaton fan is to have your hea...
24983  "I was one of those \"few Americans\" that gre...
24984  "Visually disjointed and full of itself, the d...
24985  "this movie had more holes than a piece of swi...
24986  "Last November, I had a chance to see this fil...
24987  "First off, I'd like to make a correction on a...
24988  "While originally reluctant to jump on the ban...
24989  "I heard about this movie when watching VH1's ...
24990  "I've never been huge on IMAX films. They're c...
24991  "Steve McQueen has certainly a lot of loyal fa...
24992  "Sometimes you wonder how some people get fund...
24993  "I am a student of film, and have been for sev...
24994  "Unimaginably stupid, redundant and humiliatin...
24995  "It seems like more consideration has gone int...
24996  "I don't believe they made this film. Complete...
24997  "Guy is a loser. Can't get girls, needs to bui...
24998  "This 30 minute documentary Buñuel made in the...
24999  "I saw this movie as a child and it broke my h...

[5000 rows x 1 columns]

In [25]:
y_train

       sentiment
5514           0
1266           1
5864           0
15865          0
12892          0
5742           0
13653          1
3780           1
12574          0
15733          1
8985           1
14535          1
14107          0
10206          0
19972          0
11811          1
1566           1
11276          0
7752           1
5857           1
4514           0
7655           0
12025          0
5908           1
19144          0
1544           0
11416          0
8845           1
2604           0
9150           0
...          ...
1267           1
1899           1
3005           0
19118          1
189            0
2747           1
18431          0
18942          0
8666           1
6396           0
19769          1
17568          0
6420           0
5051           0
5311           0
2433           1
769            1
1685           0
8322           1
16023          1
11363          0
14423          1
4426           0
16850          1
6265           1
11284          0
11964          0
5390           1
860            1
15795          1

[15000 rows x 1 columns]

In [26]:
y_test

       sentiment
20000          0
20001          1
20002          1
20003          1
20004          0
20005          0
20006          0
20007          0
20008          1
20009          0
20010          1
20011          0
20012          0
20013          0
20014          0
20015          0
20016          0
20017          1
20018          1
20019          0
20020          0
20021          0
20022          1
20023          0
20024          0
20025          1
20026          0
20027          1
20028          1
20029          1
...          ...
24970          1
24971          1
24972          1
24973          0
24974          1
24975          1
24976          0
24977          1
24978          1
24979          1
24980          1
24981          1
24982          0
24983          0
24984          0
24985          0
24986          1
24987          1
24988          1
24989          1
24990          1
24991          0
24992          0
24993          0
24994          0
24995          0
24996          0
24997          0
24998          0
24999          1

[5000 rows x 1 columns]

In [27]:
X_train.shape
# X_train.info()
type(X_train)

(15000, 1)

pandas.core.frame.DataFrame

In [28]:
y_train.shape
# y_train.info()
type(y_train)

(15000, 1)

pandas.core.frame.DataFrame

In [29]:
X_val.shape
y_val.shape

(5000, 1)

(5000, 1)

In [30]:
X_test.shape
# X_test.info()
type(X_test)

(5000, 1)

pandas.core.frame.DataFrame

In [31]:
y_test.shape
# y_train.info()
type(y_test)

(5000, 1)

pandas.core.frame.DataFrame

# PRE LOADING

In [32]:
def tokenizer_split(text):
    return [porter.stem(w) for w in text.split(' ')]

def tokenizer_porter(text):
    return [porter.stem(w) for w in text.split(' ') if not w in stop_words ]

tfidf = TfidfVectorizer(strip_accents=None, lowercase=False, preprocessor=None)

In [33]:
master = Super_Analytica('master')

In [34]:
stop_words = nltk.corpus.stopwords.words('english')
porter = PorterStemmer()

In [35]:
%run ../modules/params_imdb.ipynb

## Implementacao que da erro

In [ ]:
# implementacao sem predict_proba
class A2(object):

    def __init__(self, instance, param_grid, my_name):
        self.my_name = my_name
        self.instance = instance
        self.param_grid = param_grid
        
    def evaluate_HP_lGBM(self, pipe, pkl_W=False): 
        '''
        aceita pipeline sem o step final. pipe.append()
        '''
        start= timer()
        result_dict = {}

    #         key = self.my_name.split('_')[0] # to use in pipe. From KNN_2 -> KNN. Must mach param_grid prefix
        instance = self.instance
        param_grid = self.param_grid

        pipe_copy = None
        pipe_copy = clone(pipe)
        pipe_copy.steps.append([instance, clf[instance]])

        def objective(params):
            # Make sure parameters that need to be integers are integers
            for parameter_name in ['num_leaves', 'subsample_for_bin', 'min_child_samples']:
                params[parameter_name] = int(params[parameter_name])


            score = lgb.cv(params, data_train, nfold = 10, num_boost_round = 10000, 
                        early_stopping_rounds = 10, metrics = 'auc', seed = 50)
            best_score = max(score['auc-mean'])
            print(best_score)
            return 1 - best_score

        train_feature_matrix = pipe.fit_transform(X_train) # pipe descalco sem o ultimo
        data_train = lgb.Dataset(train_feature_matrix, label=list(y_train.values.ravel()))

        test_feature_matrix = pipe.fit_transform(X_test) # pipe descalco sem o ultimo
        data_test = lgb.Dataset(test_feature_matrix, label=list(y_test.values.ravel()))


        T = Trials()
        space = param_grid
        best = fmin(objective, space, algo=tpe.suggest, max_evals=5, trials=T)  #  <---------------------------HERE<-----
        best_params = space_eval(space, best) # is the translation of best. Real Values, not steps.

        for parameter_name in ['num_leaves', 'subsample_for_bin', 'min_child_samples']:
                best_params[parameter_name] = int(best_params[parameter_name])


        best_model = lgb.train(best_params, data_train, valid_sets=[data_test], valid_names=['data_test'])   
        print(best_model)
#         y_pred = best_model.predict(test_feature_matrix)
        y_pred = best_model.predict(test_feature_matrix)   # -------> AQUI o ERRO !!!!!!!
        print(y_pred)
        acc = accuracy_score(y_test, y_pred) 
        print('acc :', acc)
        end = timer()
        minutes_elapsed = (end - start)//60
        Super_Analytica.evaluations_all[self.my_name] = {'score': acc, 'best_estimator': best_model, \
                                 'param_grid': param_grid, 'y_pred': y_pred, \
                                 'param_pipe': pipe_copy, 'instance':instance,\
                                 'best_params' : best_params, 'T': T, 'minutes': minutes_elapsed} 


        if  pkl_W:
            D = {}
            D[self.my_name]= Super_Analytica.evaluations_all[self.my_name]
            joblib.dump(D, '../pkl/clf_'+ self.my_name + '.pkl') 
            print(self.my_name, ' HP_lightGBM and pickled to disk Done in',  minutes_elapsed, ' minutes' ) 
        else:
            print(self.my_name, '  HP_lightGBM done in ', minutes_elapsed, ' minutes')

Por alguma razao o metodo predict esta gerando probabilidades ao inves de previsoes binarias [0,1]. Por isso o erro em accuracy_score

In [ ]:
clf['LGBM'] = lgb.LGBMClassifier(objective = 'binary', metric = ['auc'])
md_LGBM = A2('LGBM', param['LGBM2'], '_1')
md_LGBM.evaluate_HP_lGBM(pipe_10)

# LightGNM Tests YYYEEahhhhhhhhh

In [36]:
class LemmaTokenizer(object):
    def __init__(self):
        self.wnl = WordNetLemmatizer()

    def __call__(self, doc):
        return [self.wnl.lemmatize(t) for t in word_tokenize(doc)]

    
pipe_4 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('vec', TfidfVectorizer(stop_words='english'))
])

# TREES
pipe_9 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('vec', TfidfVectorizer(max_features=4000, stop_words='english', tokenizer=LemmaTokenizer())),
    ('kbest', SelectPercentile(chi2))
])

#KNN
pipe_11 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('vec', TfidfVectorizer(max_features=20000, stop_words='english'))
])

In [37]:
clf['LGBM'] = lgb.LGBMClassifier(objective = 'binary', metric = 'auc')
# clf['LGBM'] = lgb.LGBMClassifier(objective = 'multiclass', metric =

In [38]:
param['LGBM2'] = {
    'num_leaves': hp.choice('num_leaves',[15, 31, 63, 127, 255, 511, 1023, 2047, 4095]),
    'min_child_samples': hp.quniform('min_child_samples', 20, 500, 5),
    'max_depth': hp.choice('max_depth', range(4,13)),
    'subsample_for_bin': 200000
}
param_grid = param['LGBM2']

## .cv  -->prone to overfitting

In [39]:
# implementacao SKLEARN API 
# com predict proba
class A2(object):

    def __init__(self, instance, param_grid, my_name):
        self.my_name = my_name
        self.instance = instance
        self.param_grid = param_grid
        
    def evaluate_HP_lGBM(self, pipe, pkl_W=False): 
        '''
        aceita pipeline sem o step final. pipe.append()
        '''
        start= timer()
        result_dict = {}

        instance = self.instance
        param_grid = self.param_grid

        pipe_copy = None
        pipe_copy = clone(pipe)
        pipe_copy.steps.append([instance, clf[instance]])

        def objective(params):
            # Make sure parameters that need to be integers are integers
            for parameter_name in ['num_leaves', 'subsample_for_bin', 'min_child_samples']:
#             for parameter_name in ['num_leaves']:
                params[parameter_name] = int(params[parameter_name])

            score = lgb.cv(params, data_train, nfold = 10, num_boost_round = 100, 
                        early_stopping_rounds = 10, metrics = 'auc', seed = 50)
            best_score = max(score['auc-mean'])
            print('cv score:',  best_score)
            return 1 - best_score

        train_feature_matrix = pipe.fit_transform(X_train) # pipe descalco sem o ultimo
        data_train = lgb.Dataset(train_feature_matrix, label=list(y_train.values.ravel()))

        test_feature_matrix = pipe.fit_transform(X_test) # pipe descalco sem o ultimo
        data_test = lgb.Dataset(test_feature_matrix, label=list(y_test.values.ravel()))

        T = Trials()
        space = param_grid
        best = fmin(objective, space, algo=tpe.suggest, max_evals=5, trials=T)  #  <---------------------------HERE<-----
        best_params = space_eval(space, best) 

        for parameter_name in ['num_leaves', 'subsample_for_bin', 'min_child_samples']:
                best_params[parameter_name] = int(best_params[parameter_name])

        best_model = clf[instance].set_params(**best_params)
        best_model.fit(train_feature_matrix, y_train.values.ravel())
        y_pred = best_model.predict_proba(test_feature_matrix)[:,1]
#         y_pred = best_model.predict(test_feature_matrix)
#         print(y_pred)
        acc = roc_auc_score(y_test, y_pred) 
        print('acc :', acc)
        end = timer()
        minutes_elapsed = (end - start)//60
        Super_Analytica.evaluations_all[self.my_name] = {'score': acc, 'best_estimator': best_model, \
                                 'param_grid': param_grid, 'y_pred': y_pred, 
                                 'param_pipe': pipe_copy, 'instance':instance, # é somente uma string, nao é a instance em si\ 
                                 'best_params' : best_params, 'T': T, 'minutes': minutes_elapsed} 


        if  pkl_W:
            D = {}
            D[self.my_name]= Super_Analytica.evaluations_all[self.my_name]
            joblib.dump(D, '../pkl/clf_'+ self.my_name + '.pkl') 
            print(self.my_name, ' HP_lightGBM and pickled to disk Done in',  minutes_elapsed, ' minutes' ) 
        else:
            print(self.my_name, '  HP_lightGBM done in ', minutes_elapsed, ' minutes')

In [40]:
pipe_10 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('vec', TfidfVectorizer(max_features=15000, stop_words='english')),
    ('svd', TruncatedSVD(n_components=400))
])


# se implementar transformando o data set antes, sera q o kernel aguenta max_feat=20k ?
# usando SVD rolou bem mesmo com max_features = None

In [41]:
md_LGBM2 = A2('LGBM', param['LGBM2'], '_1')
md_LGBM2.evaluate_HP_lGBM(pipe_10)

# aumentando n_fold reduz o overfitting ?  Nao rodou com fold = 10 e max_feat =None
# max_feat=20k svd__n_components=400 - ?

cv score: 0.9043274646331323
cv score: 0.9010760346995147
cv score: 0.9072678369970963
cv score: 0.9105944107530679
cv score: 0.9019702717170768
acc : 0.6947127447667035
_1   HP_lightGBM done in  3.0  minutes

In [42]:
pare aqui espertinho

SyntaxError: invalid syntax (<ipython-input-42-0f96026f6f6b>, line 1)

---------------------

## x_val

In [ ]:
# implementacao SKLEARN API 
# com predict proba
class A2(object):

    def __init__(self, instance, param_grid, my_name):
        self.my_name = my_name
        self.instance = instance
        self.param_grid = param_grid
        
    def evaluate_HP_lGBM_val(self, pipe, pkl_W=False): 
        '''
        aceita pipeline sem o step final. pipe.append()
        '''
        start= timer()
        result_dict = {}

        instance = self.instance
        param_grid = self.param_grid

        pipe_copy = None
        pipe_copy = clone(pipe)
        pipe_copy.steps.append([instance, clf[instance]])

        def objective(params):
            # Make sure parameters that need to be integers are integers
            for parameter_name in ['num_leaves', 'subsample_for_bin', 'min_child_samples']:
                params[parameter_name] = int(params[parameter_name])

            model = clf[instance].set_params(**params)
            model.fit(train_feature_matrix, y_train, eval_set=(val_feature_matrix, y_val), eval_names=['val_feature_matrix', 'y_val'], eval_metric='auc', early_stopping_rounds=10)             
            best_score = model.best_score_['val_feature_matrix']['auc']
            return 1 - best_score


        train_feature_matrix = pipe.fit_transform(X_train) # pipe descalco sem o ultimo
        data_train = lgb.Dataset(train_feature_matrix, label=list(y_train.values.ravel()))

        test_feature_matrix = pipe.fit_transform(X_test) # pipe descalco sem o ultimo
        data_test = lgb.Dataset(test_feature_matrix, label=list(y_test.values.ravel()))
        
        val_feature_matrix = pipe.fit_transform(X_val) 

        T = Trials()
        space = param_grid
        best = fmin(objective, space, algo=tpe.suggest, max_evals=5, trials=T)  #  <---------------------------HERE<-----
        best_params = space_eval(space, best) 

        for parameter_name in ['num_leaves', 'subsample_for_bin', 'min_child_samples']:
                best_params[parameter_name] = int(best_params[parameter_name])

        best_model = clf[instance].set_params(**best_params)
        best_model.fit(train_feature_matrix, y_train.values.ravel())
        y_pred = best_model.predict_proba(test_feature_matrix)[:,1]
#         y_pred = best_model.predict(test_feature_matrix)
#         print(y_pred)
        acc = roc_auc_score(y_test, y_pred) 
        print('acc :', acc)
        end = timer()
        minutes_elapsed = (end - start)//60
        Super_Analytica.evaluations_all[self.my_name] = {'score': acc, 'best_estimator': best_model, \
                                 'param_grid': param_grid, 'y_pred': y_pred, 
                                 'param_pipe': pipe_copy, 'instance':instance, # é somente uma string, nao é a instance em si\ 
                                 'best_params' : best_params, 'T': T, 'minutes': minutes_elapsed} 


        if  pkl_W:
            D = {}
            D[self.my_name]= Super_Analytica.evaluations_all[self.my_name]
            joblib.dump(D, '../pkl/clf_'+ self.my_name + '.pkl') 
            print(self.my_name, ' HP_lightGBM and pickled to disk Done in',  minutes_elapsed, ' minutes' ) 
        else:
            print(self.my_name, '  HP_lightGBM done in ', minutes_elapsed, ' minutes')

In [ ]:
md_LGBM3 = A2('LGBM', param['LGBM2'], '_3')
md_LGBM3.evaluate_HP_lGBM_val(pipe_10)

In [ ]:
# pare aqui espertinho

### direto

In [ ]:
start= timer()
result_dict = {}

pipe = pipe_10
instance = 'LGBM'
param_grid = param['LGBM2']

pipe_copy = None
pipe_copy = clone(pipe)
pipe_copy.steps.append([instance, clf[instance]])

def objective(params):
    # Make sure parameters that need to be integers are integers
    for parameter_name in ['num_leaves', 'subsample_for_bin', 'min_child_samples']:
#             for parameter_name in ['num_leaves']:
        params[parameter_name] = int(params[parameter_name])

    model = clf[instance].set_params(**params)
    model.fit(train_feature_matrix, y_train, eval_set=(val_feature_matrix, y_val), eval_names=['val_feature_matrix', 'y_val'], eval_metric='auc', early_stopping_rounds=10)             
    best_score = model.best_score_['val_feature_matrix']['auc']
    return 1 - best_score

train_feature_matrix = pipe.fit_transform(X_train) # pipe descalco sem o ultimo
data_train = lgb.Dataset(train_feature_matrix, label=list(y_train.values.ravel()))

test_feature_matrix = pipe.fit_transform(X_test) # pipe descalco sem o ultimo
data_test = lgb.Dataset(test_feature_matrix, label=list(y_test.values.ravel()))

val_feature_matrix = pipe.fit_transform(X_val) # pipe descalco sem o ultimo
# data_test = lgb.Dataset(test_feature_matrix, label=list(y_test.values.ravel()))


T = Trials()
space = param_grid
best = fmin(objective, space, algo=tpe.suggest, max_evals=10, trials=T)  #  <---------------------------HERE<-----
best_params = space_eval(space, best) 

for parameter_name in ['num_leaves', 'subsample_for_bin', 'min_child_samples']:
        best_params[parameter_name] = int(best_params[parameter_name])

best_model = clf[instance].set_params(**best_params)
best_model.fit(train_feature_matrix, y_train.values.ravel())
y_pred = best_model.predict_proba(test_feature_matrix)[:,1]
#         y_pred = best_model.predict(test_feature_matrix)
#         print(y_pred)
acc = roc_auc_score(y_test, y_pred) 
print('acc :', acc)
end = timer()
minutes_elapsed = (end - start)//60
Super_Analytica.evaluations_all[self.my_name] = {'score': acc, 'best_estimator': best_model, \
                         'param_grid': param_grid, 'y_pred': y_pred, 
                         'param_pipe': pipe_copy, 'instance':instance, # é somente uma string, nao é a instance em si\ 
                         'best_params' : best_params, 'T': T, 'minutes': minutes_elapsed} 


if  pkl_W:
    D = {}
    D[self.my_name]= Super_Analytica.evaluations_all[self.my_name]
    joblib.dump(D, '../pkl/clf_'+ self.my_name + '.pkl') 
    print(self.my_name, ' HP_lightGBM and pickled to disk Done in',  minutes_elapsed, ' minutes' ) 
else:
    print(self.my_name, '  HP_lightGBM done in ', minutes_elapsed, ' minutes')

## hp.choice

In [ ]:
param['LGBM3'] = {

    'num_leaves': hp.choice('num_leaves', [15, 31, 63, 127, 255, 511, 1023, 2047, 4095]),
    'min_child_samples': hp.quniform('min_child_samples', 20, 500, 5),
    'max_depth': hp.choice('max_depth', range(4, 13)),
    'boosting_type': hp.choice('boosting_type', [
        {
            'boosting_type': 'gbdt',
            'subsample': hp.uniform('gdbt_subsample', 0.5, 1)
        },
        {
            'boosting_type': 'dart',
            'subsample': hp.uniform('dart_subsample', 0.5, 1)
        },
        {'boosting_type': 'goss'}
    ]),
    'subsample_for_bin': 200000

}
sample(param['LGBM3'])
param_grid = param['LGBM3']

In [ ]:
md_LGBM3 = A2('LGBM', param['LGBM3'], '_3')
md_LGBM3.evaluate_HP_lGBM_val(pipe_10)

### Direto

In [ ]:
param['LGBM4'] = {
    'class_weight': hp.choice('class_weight', [None, 'balanced']),
    'boosting_type': hp.choice('boosting_type', [{'boosting_type': 'gbdt', 'subsample': hp.uniform('gdbt_subsample', 0.5, 1)}, 
                                                 {'boosting_type': 'dart', 'subsample': hp.uniform('dart_subsample', 0.5, 1)},
                                                 {'boosting_type': 'goss', 'subsample': 1.0}]),
    'num_leaves': hp.quniform('num_leaves', 30, 150, 1),
    'learning_rate': hp.loguniform('learning_rate', np.log(0.01), np.log(0.2)),
    'subsample_for_bin': hp.quniform('subsample_for_bin', 20000, 300000, 20000),
    'min_child_samples': hp.quniform('min_child_samples', 20, 500, 5),
    'reg_alpha': hp.uniform('reg_alpha', 0.0, 1.0),
    'reg_lambda': hp.uniform('reg_lambda', 0.0, 1.0),
    'colsample_bytree': hp.uniform('colsample_by_tree', 0.6, 1.0)
}

In [ ]:
# boosting_type and subsample are mandatory as param in space


start = timer()
result_dict = {}

pipe = pipe_10
instance = 'LGBM'
param_grid = param['LGBM4']

pipe_copy = None
# pipe_copy = clone(pipe)
# pipe_copy.steps.append([instance, clf[instance]])


def objective(params):

    # Retrieve the subsample if present otherwise set to 1.0
    subsample = params['boosting_type'].get('subsample', 1.0)
    # Extract the boosting type
    params['boosting_type'] = params['boosting_type']['boosting_type']
    params['subsample'] = subsample
    
    # Make sure parameters that need to be integers are integers
    for parameter_name in ['num_leaves', 'subsample_for_bin', 'min_child_samples']:
        params[parameter_name] = int(params[parameter_name])
    
#     print(params)
    model = clf[instance].set_params(**params)
    model.fit(train_feature_matrix, y_train, eval_set=(val_feature_matrix, y_val), eval_names=[
              'val_feature_matrix', 'y_val'], eval_metric='auc', early_stopping_rounds=10)
    best_score = model.best_score_['val_feature_matrix']['auc']
    return 1 - best_score


train_feature_matrix = pipe.fit_transform(X_train)  # pipe descalco sem o ultimo
data_train = lgb.Dataset(train_feature_matrix,label=list(y_train.values.ravel()))

test_feature_matrix = pipe.fit_transform(X_test)  # pipe descalco sem o ultimo
data_test = lgb.Dataset(test_feature_matrix, label=list(y_test.values.ravel()))

val_feature_matrix = pipe.fit_transform(X_val)  # pipe descalco sem o ultimo
# data_test = lgb.Dataset(test_feature_matrix, label=list(y_test.values.ravel()))


T = Trials()
space = param_grid
best = fmin(objective, space, algo=tpe.suggest, max_evals=1, trials=T)  # <---------------------------HERE<-----
print('best:', best, '\n')
best_params = space_eval(space, best)
print('best_params: ', best_params)

# Retrieve the subsample if present otherwise set to 1.0
subsample = best_params['boosting_type'].get('subsample', 1.0)
# Extract the boosting type
best_params['boosting_type'] = best_params['boosting_type']['boosting_type']
best_params['subsample'] = subsample
# Make sure parameters that need to be integers are integers
for parameter_name in ['num_leaves', 'subsample_for_bin', 'min_child_samples']:
    best_params[parameter_name] = int(best_params[parameter_name])


best_model = clf[instance].set_params(**best_params)
best_model.fit(train_feature_matrix, y_train.values.ravel())
y_pred = best_model.predict_proba(test_feature_matrix)[:, 1]
#         y_pred = best_model.predict(test_feature_matrix)
#         print(y_pred)
acc = roc_auc_score(y_test, y_pred)
print('acc :', acc)

## hp.choice  -->  boosting,  subsample

In [ ]:
# hp.choice -->  boosting_type, subsample

class A2(object):

    def __init__(self, instance, param_grid, my_name):
        self.my_name = my_name
        self.instance = instance
        self.param_grid = param_grid
        
    def evaluate_HP_lGBM_val_choice(self, pipe, pkl_W=False): 
        '''
        aceita pipeline sem o step final. pipe.append()
        '''
        start= timer()
        result_dict = {}

        instance = self.instance
        param_grid = self.param_grid

        pipe_copy = None
        pipe_copy = clone(pipe)
        pipe_copy.steps.append([instance, clf[instance]])

        def objective(params):

            # Retrieve the subsample if present otherwise set to 1.0
            subsample = params['boosting_type'].get('subsample', 1.0)
            # Extract the boosting type
            params['boosting_type'] = params['boosting_type']['boosting_type']
            params['subsample'] = subsample

            # Make sure parameters that need to be integers are integers
            for parameter_name in ['num_leaves', 'subsample_for_bin', 'min_child_samples']:
                params[parameter_name] = int(params[parameter_name])

        #     print(params)
            model = clf[instance].set_params(**params)
            model.fit(train_feature_matrix, y_train, eval_set=(val_feature_matrix, y_val), eval_names=[
                      'val_feature_matrix', 'y_val'], eval_metric='auc', early_stopping_rounds=10)
            best_score = model.best_score_['val_feature_matrix']['auc']
            return 1 - best_score



        train_feature_matrix = pipe.fit_transform(X_train) # pipe descalco sem o ultimo
        data_train = lgb.Dataset(train_feature_matrix, label=list(y_train.values.ravel()))

        test_feature_matrix = pipe.fit_transform(X_test) # pipe descalco sem o ultimo
        data_test = lgb.Dataset(test_feature_matrix, label=list(y_test.values.ravel()))
        
        val_feature_matrix = pipe.fit_transform(X_val) 

        T = Trials()
        space = param_grid
        best = fmin(objective, space, algo=tpe.suggest, max_evals=5, trials=T)  #  <---------------------------HERE<-----
        best_params = space_eval(space, best) 

        # Retrieve the subsample if present otherwise set to 1.0
        subsample = best_params['boosting_type'].get('subsample', 1.0)
        # Extract the boosting type
        best_params['boosting_type'] = best_params['boosting_type']['boosting_type']
        best_params['subsample'] = subsample
        # Make sure parameters that need to be integers are integers
        for parameter_name in ['num_leaves', 'subsample_for_bin', 'min_child_samples']:
            best_params[parameter_name] = int(best_params[parameter_name])


        best_model = clf[instance].set_params(**best_params)
        best_model.fit(train_feature_matrix, y_train.values.ravel())
        y_pred = best_model.predict_proba(test_feature_matrix)[:,1]
#         y_pred = best_model.predict(test_feature_matrix)
#         print(y_pred)
        acc = roc_auc_score(y_test, y_pred) 
        print('acc :', acc)
        end = timer()
        minutes_elapsed = (end - start)//60
        Super_Analytica.evaluations_all[self.my_name] = {'score': acc, 'best_estimator': best_model, \
                                 'param_grid': param_grid, 'y_pred': y_pred, 
                                 'param_pipe': pipe_copy, 'instance':instance, # é somente uma string, nao é a instance em si\ 
                                 'best_params' : best_params, 'T': T, 'minutes': minutes_elapsed} 


        if  pkl_W:
            D = {}
            D[self.my_name]= Super_Analytica.evaluations_all[self.my_name]
            joblib.dump(D, '../pkl/clf_'+ self.my_name + '.pkl') 
            print(self.my_name, ' HP_lightGBM and pickled to disk Done in',  minutes_elapsed, ' minutes' ) 
        else:
            print(self.my_name, '  HP_lightGBM done in ', minutes_elapsed, ' minutes')

## hp.choice  -->  max_depth,  num_leaves

In [ ]:
param['LGBM5'] = {

#     'num_leaves': hp.choice('num_leaves', [15, 31, 63, 127, 255, 511, 1023, 2047, 4095]),
    'min_child_samples': hp.quniform('min_child_samples', 20, 500, 5),
#     'max_depth': hp.choice('max_depth', range(4, 13)),
    'max_depth': hp.choice('max_depth', [
        {'max_depth': 4,
         'num_leaves': 15
         },
        {'max_depth': 5,
         'num_leaves': 31
         },
        {'max_depth': 6,
         'num_leaves': 63
         },
        {'max_depth': 7,
         'num_leaves': 127
         },
        {'max_depth': 8,
         'num_leaves': 255
         },
        {'max_depth': 9,
         'num_leaves': 511
         },
        {'max_depth': 10,
         'num_leaves': 1023
         }
    ]),
    'subsample_for_bin': 200000

}
# sample(param['LGBM5'])
# param_grid = param['LGBM5']

In [ ]:
# hp.choice -->  boosting_type, subsample

class A2(object):

    def __init__(self, instance, param_grid, my_name):
        self.my_name = my_name
        self.instance = instance
        self.param_grid = param_grid
        
    def evaluate_HP_lGBM_val_choice(self, pipe, pkl_W=False): 
        '''
        aceita pipeline sem o step final. pipe.append()
        '''
        start= timer()
        result_dict = {}

        instance = self.instance
        param_grid = self.param_grid

        pipe_copy = None
        pipe_copy = clone(pipe)
#         pipe_copy.steps.append([instance, clf[instance]])

        def objective(params):

            # Retrieve the subsample if present otherwise set to 1.0
            max_depth = params['max_depth']['max_depth']
            # Extract the boosting type
            params['num_leaves'] = params['max_depth']['num_leaves']
            params['max_depth'] = max_depth

            # Make sure parameters that need to be integers are integers
            for parameter_name in ['num_leaves', 'subsample_for_bin', 'min_child_samples']:
                params[parameter_name] = int(params[parameter_name])

            print(params)
            model = clf[instance].set_params(**params)
            model.fit(train_feature_matrix, y_train, eval_set=(val_feature_matrix, y_val), eval_names=[
                      'val_feature_matrix', 'y_val'], eval_metric='auc', early_stopping_rounds=10)
            best_score = model.best_score_['val_feature_matrix']['auc']
            return 1 - best_score



        train_feature_matrix = pipe.fit_transform(X_train) # pipe descalco sem o ultimo
        data_train = lgb.Dataset(train_feature_matrix, label=list(y_train.values.ravel()))

        test_feature_matrix = pipe.fit_transform(X_test) # pipe descalco sem o ultimo
        data_test = lgb.Dataset(test_feature_matrix, label=list(y_test.values.ravel()))
        
        val_feature_matrix = pipe.fit_transform(X_val) 

        T = Trials()
        space = param_grid
        best = fmin(objective, space, algo=tpe.suggest, max_evals=200, trials=T)  #  <-----HERE<-----
        best_params = space_eval(space, best) 

        max_depth = best_params['max_depth']['max_depth']
        # Extract the boosting type
        best_params['num_leaves'] = best_params['max_depth']['num_leaves']
        best_params['max_depth'] = max_depth
        
        for parameter_name in ['num_leaves', 'subsample_for_bin', 'min_child_samples']:
            best_params[parameter_name] = int(best_params[parameter_name])


        best_model = clf[instance].set_params(**best_params)
        best_model.fit(train_feature_matrix, y_train.values.ravel())
        y_pred = best_model.predict_proba(test_feature_matrix)[:,1]
#         y_pred = best_model.predict(test_feature_matrix)
#         print(y_pred)
        acc = roc_auc_score(y_test, y_pred) 
        print('acc :', acc)
        end = timer()
        minutes_elapsed = (end - start)//60
        Super_Analytica.evaluations_all[self.my_name] = {'score': acc, 'best_estimator': best_model, \
                                 'param_grid': param_grid, 'y_pred': y_pred, 
                                 'param_pipe': pipe_copy, 'instance':instance, # é somente uma string, nao é a instance em si\ 
                                 'best_params' : best_params, 'T': T, 'minutes': minutes_elapsed} 


        if  pkl_W:
            D = {}
            D[self.my_name]= Super_Analytica.evaluations_all[self.my_name]
            joblib.dump(D, '../pkl/clf_'+ self.my_name + '.pkl') 
            print(self.my_name, ' HP_lightGBM and pickled to disk Done in',  minutes_elapsed, ' minutes' ) 
        else:
            print(self.my_name, '  HP_lightGBM done in ', minutes_elapsed, ' minutes')

In [ ]:
md_LGBM5 = A2('LGBM', param['LGBM5'], '_5')
md_LGBM5.evaluate_HP_lGBM_val_choice(pipe_10)

In [ ]:
master.get_members_evaluations_all()

In [ ]:
master.plot_validation_curve(chosen=['_5'])