
# Load Libraries / Data

In [1]:
%run ../modules/library_to_import.ipynb

In [2]:
# %run ../modules/Class_imdb.ipynb
# %run ../modules/transformers_imdb.ipynb

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns
# sns.despine()
sns.set()
# sns.set(style='white', context='notebook', palette='deep')
# sns.set(style='white', palette='deep')
sns.despine()

In [4]:
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning) 
warnings.filterwarnings("ignore", category=FutureWarning)  
warnings.filterwarnings("ignore", category=UserWarning)  

np.set_printoptions(precision=2)

In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

evaluations_all -  it is a dictionary where all the information regarding models performance scores gets recorded. It`s the 'cloud'.

By acessing the 'cloud' the Class Super_Analtica will work in groups.
Analytica_bolada is lower level.

## Data

In [6]:
random_state = 42

kfold = StratifiedKFold(n_splits=8, shuffle=False, random_state=random_state)

In [7]:
data_raw = pd.read_csv("../../data/labeledTrainData.tsv", header=0, \
                    delimiter="\t", quoting=3)

In [8]:
data_raw.head()
data_raw.info()

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
id           25000 non-null object
sentiment    25000 non-null int64
review       25000 non-null object
dtypes: int64(1), object(2)
memory usage: 586.0+ KB

In [9]:
data_raw.sentiment.value_counts(normalize=True)

1    0.5
0    0.5
Name: sentiment, dtype: float64

# X  y

In [10]:
train_raw = data_raw[:20000]
test_raw = data_raw[20000:]

# train_raw = data_raw[:2000]
# test_raw = data_raw[2000:]

In [11]:
train_raw.head()
train_raw.info()

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 3 columns):
id           20000 non-null object
sentiment    20000 non-null int64
review       20000 non-null object
dtypes: int64(1), object(2)
memory usage: 468.8+ KB

In [12]:
test_raw.head()
test_raw.info()

              id  sentiment                                             review
20000   "3862_4"          0  "I just watched it. A couple of laughs, but no...
20001   "674_10"          1  "While to most people watching the movie, this...
20002  "8828_10"          1  "I was so glad I came across this short film. ...
20003   "2963_8"          1  "The creators of south park in their own film ...
20004   "2483_1"          0  "Unspeakably discombobulated turkey, a mix of ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 20000 to 24999
Data columns (total 3 columns):
id           5000 non-null object
sentiment    5000 non-null int64
review       5000 non-null object
dtypes: int64(1), object(2)
memory usage: 117.3+ KB

In [13]:
X = train_raw[:20000][['review']]
y = train_raw[:20000][['sentiment']]

In [14]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25, random_state=random_state)

In [15]:
X_train.shape
X_train.head()
y_train.shape 
y_train.head()

(15000, 1)

                                                  review
5514   "There is a DVD published in the UK in 2002 Co...
1266   "Frownland is like one of those intensely emba...
5864   "I rented this because I'm a bit weary of '80s...
15865  "I like bad movies. I like to rent bad movies ...
12892  "The story line was very straight forward and ...

(15000, 1)

       sentiment
5514           0
1266           1
5864           0
15865          0
12892          0

In [16]:
X_val.shape 
X_val.head()
y_val.shape
y_val.head()

(5000, 1)

                                                  review
10650  "I can't believe that Steven Segal's career ha...
2041   "I wasn't quite sure if this was just going to...
8668   "First of all, if you'r a fan of the comic, we...
1114   "I really liked this movie, and went back to s...
13902  "Yes, CHUNKY, this is the nick-name that Donna...

(5000, 1)

       sentiment
10650          0
2041           1
8668           0
1114           1
13902          0

In [17]:
test_raw.head()

              id  sentiment                                             review
20000   "3862_4"          0  "I just watched it. A couple of laughs, but no...
20001   "674_10"          1  "While to most people watching the movie, this...
20002  "8828_10"          1  "I was so glad I came across this short film. ...
20003   "2963_8"          1  "The creators of south park in their own film ...
20004   "2483_1"          0  "Unspeakably discombobulated turkey, a mix of ...

In [18]:
X_test = test_raw[['review']]
y_test = test_raw[['sentiment']]

In [19]:
X_test.shape
y_test.shape

(5000, 1)

(5000, 1)

In [20]:
X_train.shape
# X_train.info()
type(X_train)

(15000, 1)

pandas.core.frame.DataFrame

In [21]:
y_train.shape
# y_train.info()
type(y_train)

(15000, 1)

pandas.core.frame.DataFrame

In [22]:
X_test.shape
# X_test.info()
type(X_test)

(5000, 1)

pandas.core.frame.DataFrame

In [23]:
y_test.shape
# y_train.info()
type(y_test)

(5000, 1)

pandas.core.frame.DataFrame

# PRE LOADING

In [24]:
def tokenizer_split(text):
    return [porter.stem(w) for w in text.split(' ')]

def tokenizer_porter(text):
    return [porter.stem(w) for w in text.split(' ') if not w in stop_words ]

tfidf = TfidfVectorizer(strip_accents=None, lowercase=False, preprocessor=None)

In [25]:
stop_words = nltk.corpus.stopwords.words('english')
porter = PorterStemmer()

In [26]:
%run ../modules/Class_imdb.ipynb
%run ../modules/transformers_imdb.ipynb

In [27]:
%run ../modules/params_imdb.ipynb

In [28]:
master = Super_Analytica()

# KNN

In [29]:
best_params = {
    'vec__max_df': 0.9,
    'vec__min_df': 2,
    'vec__ngram_range': (1, 3),
    'vec__sublinear_tf': True
}

In [29]:
pipe_11 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('vec', TfidfVectorizer(max_features=20000, stop_words='english'))
])
pipe_11_vect =  clone(pipe_11).set_params(**best_params)

In [30]:
param['KNN_HP_no_vect'] = {
    'vec__ngram_range': hp.choice('vec__ngram_range', [(1, 1), (1, 2), (1, 3)]),
    'vec__min_df': 1+hp.randint('vec__min_df', 3),
    'vec__max_df': hp.uniform('vec__max_df', 0.7, 1.0),
    'vec__sublinear_tf': hp.choice('vec__sublinear_tf', [True, False]),
    'KNN__n_neighbors': hp.choice('KNN__n_neighbors', [5, 10, 20, 50, 100])
}

In [31]:
param['KNN_HP_vect'] = {
    'n_neighbors': hp.choice('KNN__n_neighbors', [5, 10, 20, 50, 100])
}

In [32]:
md_KNN1 = Analytica_Bolada('KNN', param['KNN_HP_no_vect'], 'KNN_HP_val_1')
md_KNN1.evaluate_HP3_vect_val(pipe_11, pkl_W=True, vectorize_first=False)

val score:  0.8130550171930228
val score:  0.8136701451650814
val score:  0.783616795673672
val score:  0.7809878016019087
val score:  0.8462655276012377
val score:  0.8047954701492931
val score:  0.8167400249507233
val score:  0.8036204949216141
val score:  0.7813964468979517
val score:  0.795839274076992
val score:  0.8207861573885998
val score:  0.8084306372610589
val score:  0.8096234527199472
val score:  0.8202415903310107
val score:  0.797042169666519
val score:  0.8213825651180439
val score:  0.7868332373587562
val score:  0.7846276087738097
val score:  0.7860346670092844
val score:  0.8213825651180439
val score:  0.8474684231907645
val score:  0.8474684231907645
val score:  0.8474684231907645
val score:  0.8474684231907645
val score:  0.8345208153897674
val score:  0.8474684231907645
val score:  0.8474684231907645
val score:  0.8474684231907645
val score:  0.8345208153897674
val score:  0.8474684231907645
acc : 0.9109078642824955
KNN_HP_val_1  HP3_vect_val and pickled to disk Done in 14.0  minutes

In [33]:
md_KNN2 = Analytica_Bolada('KNN', param['KNN_HP_vect'], 'KNN_HP_val_vect_1')
md_KNN2.evaluate_HP3_vect_val(pipe_11_vect, pkl_W=True, vectorize_first=True)

val score:  0.8074270242542344
val score:  0.833428801237264
val score:  0.833428801237264
val score:  0.833428801237264
val score:  0.8441641403672592
val score:  0.8441641403672592
val score:  0.833428801237264
val score:  0.8074270242542344
val score:  0.833428801237264
val score:  0.833428801237264
val score:  0.8441641403672592
val score:  0.8220452137059696
val score:  0.8220452137059696
val score:  0.8441641403672592
val score:  0.8220452137059696
val score:  0.833428801237264
val score:  0.833428801237264
val score:  0.7988285128175261
val score:  0.8441641403672592
val score:  0.7988285128175261
val score:  0.8441641403672592
val score:  0.8441641403672592
val score:  0.8441641403672592
val score:  0.8441641403672592
val score:  0.8441641403672592
val score:  0.8441641403672592
val score:  0.8074270242542344
val score:  0.7988285128175261
val score:  0.8074270242542344
val score:  0.8441641403672592
acc : 0.9153389801216665
KNN_HP_val_vect_1  HP3_vect_val and pickled to disk Done in 7.0  minutes

# TREES

## Vectorize First

In [30]:
clf_T

['DT', 'ADA', 'RF', 'XT']

In [31]:
class LemmaTokenizer(object):
    def __init__(self):
        self.wnl = WordNetLemmatizer()

    def __call__(self, doc):
        return [self.wnl.lemmatize(t) for t in word_tokenize(doc)]


pipe_9 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('vec', TfidfVectorizer(max_features=4000, stop_words='english', tokenizer=LemmaTokenizer())),
    ('kbest', SelectPercentile(chi2))
])


pipe_9_vect =  clone(pipe_9).set_params(**best_params)

In [32]:
filenames_9 = ['X_train_9', 'X_val_9', 'X_test_9']

In [34]:
X_train_9 = pipe_9_vect.fit_transform(X_train, y_train)
X_val_9 = pipe_9_vect.transform(X_val)
X_test_9 = pipe_9_vect.transform(X_test)

In [36]:
objs = [X_train_9, X_val_9, X_test_9]
for filename, data in zip(filenames_9, objs):
    joblib.dump(data, '../pkl/clf_'+ filename + '.pkl')

['../pkl/clf_X_train_9.pkl']

['../pkl/clf_X_val_9.pkl']

['../pkl/clf_X_test_9.pkl']

## Back To Life

In [33]:
X_train_9 = joblib.load('../pkl/clf_'+ 'X_train_1' + '.pkl') 
X_val_9 = joblib.load('../pkl/clf_'+ 'X_val_1' + '.pkl') 
X_test_9 = joblib.load('../pkl/clf_'+ 'X_test_1' + '.pkl') 
X_train_9.shape
X_val_9.shape
X_test_9.shape

(15000, 800)

(5000, 800)

(5000, 800)

## RF

In [34]:
param['RF_HP_vect_2'] = {
                    'n_estimators': hp.choice('XRF__n_estimators', [1, 10, 100]),
                    'min_samples_split': hp.choice("XRF__min_samples_split", [2, 5, 10])
                    }

In [35]:
md_RF2 = Analytica_Bolada('RF', param['RF_HP_vect_2'], 'RF_HP_val_vect_2')
md_RF2.evaluate_HP_vect_val_2(pipe_9_vect, X_train_9, X_val_9, X_test_9)
# max_yter = 3 --> 16 min
# max_iter = 20 --> ?? min

RF_HP_val_vect_2   Instance Created


val score:  0.8247709290312402
val score:  0.8247709290312402
val score:  0.7134102057962671
val score:  0.8161110567992961
val score:  0.8161110567992961
val score:  0.5744425647756395
val score:  0.8141614315321527
val score:  0.5968442951020645
val score:  0.8161110567992961
val score:  0.7350142457846254
val score:  0.5968442951020645
val score:  0.7350142457846254
val score:  0.7186894742155858
val score:  0.5968442951020645
val score:  0.8161110567992961
val score:  0.5744425647756395
val score:  0.5968442951020645
val score:  0.7186894742155858
val score:  0.8247709290312402
val score:  0.7134102057962671
val score:  0.8247709290312402
val score:  0.8247709290312402
val score:  0.8247709290312402
val score:  0.8247709290312402
val score:  0.8247709290312402
val score:  0.8247709290312402
val score:  0.8247709290312402
val score:  0.8247709290312402
val score:  0.8247709290312402
val score:  0.8247709290312402
{'min_samples_split': 10, 'n_estimators': 100}
acc : 0.9026778719122527
RF_HP_val_vect_2   HP_vect_val done in  13.0  minutes

In [ ]:
clf['RF_HP_val_vect_2'] = master.evaluations_all['RF_HP_val_vect_2']['best_estimator']

In [ ]:
master.plot_learning_curve_2(X_train_9, chosen=['RF_HP_val_vect_2'], load_saved=False)

In [ ]:
master.plot_learning_curve_2(X_train_9, chosen=['RF_HP_val_vect_2'], load_saved=True)

In [36]:
aqui

NameError: name 'aqui' is not defined

## XT

In [39]:
param['XT_HP_no_vect'] = {
    'vec__ngram_range': hp.choice('vec__ngram_range', [(1, 1), (1, 2), (1, 3)]),
    'vec__min_df': 1+hp.randint('vec__min_df', 3),
    'vec__max_df': hp.uniform('vec__max_df', 0.7, 1.0),
    "XT__n_estimators": hp.choice('XT__n_estimators', [10, 50, 100, 300 ,500, 1000]),
    "XT__max_features": hp.choice("XT__max_features", ['auto', 'sqrt'])  
}

param['XT_HP_vect'] = {
    "n_estimators": hp.choice('XT__n_estimators', [10, 50, 100, 300 ,500, 1000]),
    "max_features": hp.choice("XT__max_features", ['auto', 'sqrt'])  
}

In [40]:
md_XT_1 = Analytica_Bolada('XT', param['XT_HP_no_vect'], 'XT_HP_val_1')
md_XT_1.evaluate_HP3_vect_val(pipe_9, pkl_W=True, vectorize_first=False)

val score:  0.8541541898383003
val score:  0.8553527653718391
val score:  0.8547721978476841
val score:  0.8493613277228073
val score:  0.8547721978476841
val score:  0.8553527653718391
val score:  0.8553570854278272
val score:  0.8539520272182728
val score:  0.8427403619150905
val score:  0.8563592584159891
val score:  0.8545513149850423
val score:  0.8098175352352566
val score:  0.8521469638246512
val score:  0.8553527653718391
val score:  0.8098175352352566
val score:  0.8565499008867155
val score:  0.8096312128205181
val score:  0.8077901489603304
val score:  0.8533584995261538
val score:  0.8505469430883823
val score:  0.8563592584159891
val score:  0.8563592584159891
val score:  0.8565499008867155
val score:  0.8565499008867155
val score:  0.8443259824647328
val score:  0.8565499008867155
val score:  0.8565499008867155
val score:  0.8543505923836773
val score:  0.8561657359079374
val score:  0.8443259824647328
acc : 0.9282165154797019
XT_HP_val_1  HP3_vect_val and pickled to disk Done in 75.0  minutes

In [41]:
md_XT_2 = Analytica_Bolada('XT', param['XT_HP_vect'], 'XT_HP_val_vect_1')
md_XT_2.evaluate_HP3_vect_val(pipe_9_vect, pkl_W=True, vectorize_first=True)

val score:  0.8451403930194934
val score:  0.8096240127272047
val score:  0.8507534257643979
val score:  0.8513541535498301
val score:  0.8451403930194934
val score:  0.8451403930194934
val score:  0.8405309732814138
val score:  0.8405309732814138
val score:  0.8451403930194934
val score:  0.8527577717407218
val score:  0.8513541535498301
val score:  0.8451403930194934
val score:  0.8405309732814138
val score:  0.8405309732814138
val score:  0.8096240127272047
val score:  0.8527577717407218
val score:  0.8096240127272047
val score:  0.8513541535498301
val score:  0.8451403930194934
val score:  0.8451403930194934
val score:  0.8527577717407218
val score:  0.8527577717407218
val score:  0.8527577717407218
val score:  0.8527577717407218
val score:  0.8527577717407218
val score:  0.8507534257643979
val score:  0.8527577717407218
val score:  0.8527577717407218
val score:  0.8527577717407218
val score:  0.8507534257643979
acc : 0.926067845950596
XT_HP_val_vect_1  HP3_vect_val and pickled to disk Done in 39.0  minutes

# LINEAR

## Vectorizing Data First

In [ ]:
pipe_10 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('vec', TfidfVectorizer(stop_words='english')),
    ('svd', TruncatedSVD(n_components=800))
])

pipe_11 = Pipeline([
    ('col', Col_Extractor(['review'])),
    ('prep', Preprocessor()),
    ('to_array', To_array()),
    ('vec', TfidfVectorizer(stop_words='english')),
    ('svd', TruncatedSVD(n_components=800)),
    ('scaler', MinMaxScaler())
])



best_params = {
    'vec__max_df': 0.9,
    'vec__min_df': 2,
    'vec__ngram_range': (1, 3),
    'vec__sublinear_tf': True
}

pipe_10_vect =  clone(pipe_10).set_params(**best_params)
pipe_11_vect =  clone(pipe_11).set_params(**best_params)

In [ ]:
filenames_10 = ['X_train_10', 'X_val_10', 'X_test_10']
filenames_11 = ['X_train_11', 'X_val_11', 'X_test_11']

### X_train_1

In [ ]:
X_train_10 = pipe_10_vect.fit_transform(X_train)
X_val_10 = pipe_10_vect.transform(X_val)
X_test_10 = pipe_10_vect.transform(X_test)

In [40]:
objs = [X_train_10, X_val_10, X_test_10]
for filename, data in zip(filenames_10, objs):
    joblib.dump(data, '../pkl/clf_'+ filename + '.pkl')

['../pkl/clf_X_train_1.pkl']

['../pkl/clf_X_val_1.pkl']

['../pkl/clf_X_test_1.pkl']

### X_train_11

In [31]:
X_train_11 = pipe_11_vect.fit_transform(X_train, y_train)
X_val_11 = pipe_11_vect.transform(X_val)
X_test_11 = pipe_11_vect.transform(X_test)

In [32]:
objs = [X_train_11, X_val_11, X_test_11]
for filename, data in zip(filenames_11, objs):
    joblib.dump(data, '../pkl/clf_'+ filename + '.pkl')

['../pkl/clf_X_train_11.pkl']

['../pkl/clf_X_val_11.pkl']

['../pkl/clf_X_test_11.pkl']

### Back To Life

In [ ]:
X_train_1 = joblib.load('../pkl/clf_'+ 'X_train_1' + '.pkl') 
X_val_1 = joblib.load('../pkl/clf_'+ 'X_val_1' + '.pkl') 
X_test_1 = joblib.load('../pkl/clf_'+ 'X_test_1' + '.pkl') 
X_train_1.shape
X_val_1.shape
X_test_1.shape

In [ ]:
X_train_11 = joblib.load('../pkl/clf_'+ 'X_train_11' + '.pkl') 
X_val_11 = joblib.load('../pkl/clf_'+ 'X_val_11' + '.pkl') 
X_test_11 = joblib.load('../pkl/clf_'+ 'X_test_11' + '.pkl')

In [ ]:
X_train_11.shape
X_val_11.shape
X_test_11.shape

In [ ]:
# aqui

## LGR

In [ ]:
P_algos = clf_L + ['NB', 'SGDC']

In [ ]:
param['LGR_vect2'] = {
#     'C': hp.choice('zz_LGR__C', [1.e-1, 1.e+0, 1.e+1, 1.e+2, 1.e+3]),
#     'C': hp.choice('zz_LGR__C', [1.0, 2.0, 3.0]),
    'C': hp.uniform('LGR__C', 1, 300),
#     'tol': hp.choice('LGR__tol', [1.e-4, 1.e-3, 1.e-2, 1.e-1, 1.e+0, 1.e+1])
#     'tol': hp.choice('LGR__tol', [1.e-4, 1.e-3]) # worked
    'tol': hp.loguniform('loguniform', -5*np.log(10), -0.5*np.log(10))

}

In [ ]:
clf['LGR']

In [ ]:
md_LGBM2 = Analytica_Bolada('LGR', param['LGR_vect2'], 'LGR_HP_val_vect_2')
md_LGBM2.evaluate_HP_vect_val_2(pipe_10_vect, X_train_1, X_val_1, X_test_1)

In [ ]:
master.evaluations_all['LGR_HP_val_vect_2'].keys()
clf['LGR_HP_val_vect_2'] = master.evaluations_all['LGR_HP_val_vect_2']['best_estimator']
#                          Super_Analytica.evaluations_all[my_name]['best_estimator'].named_steps[my_name_no_under]

In [ ]:
master.plot_learning_curve_2(X_train_1, chosen=['LGR_HP_val_vect_2'], load_saved=False)

In [ ]:
master.plot_learning_curve_2(X_train_1, chosen=['LGR_HP_val_vect_2'], load_saved=True)

In [ ]:
# pare aqui bonitinho

## NB

In [ ]:
# HP max_iter = 20
param['NB_vect2'] = {
                  'alpha': hp.choice('zz_alpha', [0.001, 0.1, 0.5, 1.0, 10.0, 100.0, 1000.0])
}

In [ ]:
md_NB2 = Analytica_Bolada('NB', param['NB_vect2'], 'NB_HP_val_vect_2')
md_NB2.evaluate_HP_vect_val_2(pipe_11_vect, X_train_11, X_val_11, X_test_11)

In [ ]:
clf['NB_HP_val_vect_2'] = master.evaluations_all['NB_HP_val_vect_2']['best_estimator']

In [ ]:
master.plot_learning_curve_2(X_train_11, chosen=['NB_HP_val_vect_2'], load_saved=False)

In [ ]:
master.plot_learning_curve_2(X_train_11, chosen=['NB_HP_val_vect_2'], load_saved=True)

## SGDC

In [ ]:
param['SGDC_vect'] = {
    'l1_ratio': hp.uniform('clf__l1_ratio', 0.0, 0.5),
    'alpha': hp.loguniform('clf__alpha', -9*np.log(10), -4*np.log(10)),
    'n_iter': 20 + 5*hp.randint('clf__n_iter', 12)
}

In [ ]:
md_SGDC2 = Analytica_Bolada('SGDC', param['SGDC_vect'], 'SGDC_HP_val_vect_2')
md_SGDC2.evaluate_HP_vect_val_2(pipe_10_vect, X_train_1, X_val_1, X_test_1)

In [ ]:
clf['SGDC_HP_val_vect_2'] = master.evaluations_all['SGDC_HP_val_vect_2']['best_estimator']

In [ ]:
master.plot_learning_curve_2(X_train_1, chosen=['SGDC_HP_val_vect_2'], load_saved=False)

In [ ]:
master.plot_learning_curve_2(X_train_1, chosen=['SGDC_HP_val_vect_2'], load_saved=True)

# Ensemble

In [ ]:
md_SGDC2 = Analytica_Bolada('SGDC', param['SGDC_vect'], 'SGDC_HP_val_vect_1_')
md_SGDC2.evaluate_HP3_vect_val(pipe_4_vect, vectorize_first=True)

In [ ]:
clf['SGDC_HP_val_vect_1_'] = master.evaluations_all['SGDC_HP_val_vect_1_']['best_estimator'] 
clf['SGDC_HP_val_vect_1_']

In [ ]:
clf.keys()

In [ ]:
clf['SGDC_HP_val_vect_1_BAGG'] = BaggingClassifier(base_estimator=clf['SGDC_HP_val_vect_2'], n_estimators=100)

In [ ]:
md_SGDC_BAGG = Analytica_Bolada('SGDC', param['SGDC_vect'], 'SGDC_HP_val_vect_1_BAGG')
md_SGDC_BAGG.evaluate_HP_vect_val_2(pipe_10_vect, X_train_1, X_val_1, X_test_1  )

In [ ]:
clf.keys()

In [ ]:
%%time
master.plot_learning_curve_2(X_train_1, chosen=['SGDC_HP_val_vect_1_BAGG'], load_saved=False)

In [ ]:
master.plot_learning_curve_2(X_train_1, chosen=['SGDC_HP_val_vect_1_BAGG'], load_saved=True)

# PLOTTING

In [ ]:
master.get_members_evaluations_all()

In [ ]:
chosen = ['KNN_HP_val_1', 'RF_HP_val_1', 'XT_HP_val_1', 'LGR_HP_val_1', 'SGDC_HP_val_1']

In [55]:
%%time
master.plot_learning_curve(chosen=None, load_saved=False)

saving l_curve_ image for  KNN_HP_val_1
saving l_curve_ image for  KNN_HP_val_vect_1
saving l_curve_ image for  RF_HP_val_1
saving l_curve_ image for  RF_HP_val_vect_1
saving l_curve_ image for  XT_HP_val_1
saving l_curve_ image for  XT_HP_val_vect_1
saving l_curve_ image for  LGR_HP_val_1
saving l_curve_ image for  LGR_HP_val_vect_1
saving l_curve_ image for  NB_HP_val_1
saving l_curve_ image for  NB_HP_val_vect_1
saving l_curve_ image for  SGDC_HP_val_1
saving l_curve_ image for  SGDC_HP_val_vect_1
CPU times: user 1h 32min 8s, sys: 11min 31s, total: 1h 43min 40s
Wall time: 1h 46min 52s

In [56]:
%%time
master.plot_Confusion_Matrix(chosen=None, load_saved=False)

saving c_matrx_ image for KNN_HP_val_1
saving c_matrx_ image for KNN_HP_val_vect_1
saving c_matrx_ image for RF_HP_val_1
saving c_matrx_ image for RF_HP_val_vect_1
saving c_matrx_ image for XT_HP_val_1
saving c_matrx_ image for XT_HP_val_vect_1
saving c_matrx_ image for LGR_HP_val_1
saving c_matrx_ image for LGR_HP_val_vect_1
saving c_matrx_ image for NB_HP_val_1
saving c_matrx_ image for NB_HP_val_vect_1
saving c_matrx_ image for SGDC_HP_val_1
saving c_matrx_ image for SGDC_HP_val_vect_1
CPU times: user 12min 37s, sys: 46.2 s, total: 13min 23s
Wall time: 13min 54s

In [57]:
master.get_members_evaluations_all()

dict_keys(['KNN_HP_val_1', 'KNN_HP_val_vect_1', 'RF_HP_val_1', 'RF_HP_val_vect_1', 'XT_HP_val_1', 'XT_HP_val_vect_1', 'LGR_HP_val_1', 'LGR_HP_val_vect_1', 'NB_HP_val_1', 'NB_HP_val_vect_1', 'SGDC_HP_val_1', 'SGDC_HP_val_vect_1'])

In [58]:
print('Done')

Done